<div class="problem_body">
	<% ptype = @quiz_problem.problem_type %>

	<h2><%= ptype %></h2>
	
	<%= form_tag(update_quiz_problem_category_path(:type => params[:type], :problem_type_id => ptype.id), remote: :true, method: :post) do %>
			<%= label_tag :problem_category, "Choose Problem Category" %>
	   		<%= select_tag :problem_category, options_from_collection_for_select(QuizProblem.quiz_prob_category_array, :first, :last), {:id => 'problem_category'} %>
	   		<%= hidden_field_tag :partial, "false" %>
	   		<%= hidden_field_tag "f", f %>
	   	<%= submit_tag "Assign" %>
	<% end %>
</div>