<div class="problem_body">
    
    <% if @problem_category == "1" %>
        <%= link_to "Choose Another", next_random_quiz_problem_path(@problem_type), 
        :class => 'pull-right button-blue', :id => 'choose_another', :remote => true  %>
    <% else %>
        <%= link_to "Choose Another", next_custom_quiz_problem_path, 
        :class => 'pull-right button-blue', :id => 'choose_another', :remote => true  %>
    <% end %>

    <h2><%= @problem_type %></h2>

    <%= form_tag(update_quiz_problem_path, remote: :true) do %>
        <div class="problem">
            <div id="attachment"><%= @problem.body_html unless @problem.body_html.blank? %></div>
            <%= hidden_field_tag :problem, @problem.id %>
            <%= hidden_field_tag :problem_type_id, @problem_type.id %>
            <%= hidden_field_tag :problem_category, @problem_category %>
            
            <%= "Question: " %>
            <% @problem.text.each do |elt| %>
                <%= render_tohtml({partial_dir: 'problems'}, elt) %>
            <% end %>
            <br />
            <%= "Answer: " %>
            <br />
            <%= @answer %> 
        </div>
      	<%= submit_tag "Assign" %>
    <% end %>
</div>