<% ptype = @quiz_problem.problem_type %>

<%= link_to "Choose Another",
                      choose_quiz_prob_path(@problem_type, :quiz_prob => @quiz_problem), 
                       :class => 'pull-right button-blue', :id => 'choose_another', :remote => true  %>
<h2><%= ptype %></h2>
<%= form_for(@quiz_problem, url:update_quiz_problem_path, remote: :true) do |f| %>
    <div class="problem">
        <%= f.hidden_field :problem, :value => @problem.id %>
        <%= "Question: " %>
        <% @problem.text.each do |elt| %>
            <%= render_tohtml({partial_dir: 'problems'}, elt) %>
        <% end %>
        <br />
        <%= "Answer: " %>
        <br />
        <%= @answer.to_s %> 
         <%#= render partial: 'answers/tohtml/corrected_problem_elt', 
              object: elt, 
              locals: {partial_dir: 'answers'} %>
       

    </div>

   	<%= f.submit "Assign" %>
<% end %> 
