<div class="row">
	<%= form_for [@teacher, @problem_set], method: :post  do |f| %>
		<div class="col-md-4">
			<h2>SmarterGrades Problem Sets</h2>
			<ul class="col-list-2 overlay_list">
				<li><h3>Choose Problem Set</h3></li>
				<% @chapters.each do |chapter| %>
					<li><%= link_to chapter.name, "#chap_#{chapter.id}", :data => { :toggle => "tab" } %></li>
				<% end %>
			</ul>
		</div>

		<div class="col-md-8">
			<div style="margin-top: 25px; margin-bottom:25px;">
				Problem Set Name: <%= f.text_field :name %>
				<%= f.submit "Create", :class => "button-blue", :style => "margin-top:0;" %>
			</div>
			<div class="tab-content">
				<% @chapters.each do |chapter| %>
					<div class="tab-pane" id="chap_<%= chapter.id %>">
						<%= render :partial => 'shared/list_box_table', 
							:locals  => { items: chapter.problem_types, partial: 'problem_sets/list_box/ptype_edit' } %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<script>
	$(function() { 
		$('.checkbox').checkBox();
		$('#chapter_tabs a:last').tab('show');
	}); 
</script>