<div class="navbar row-fluid" style='margin-bottom:0px;'>
  <div class="navbar-inner" style="height:40px; border-radius:0px; -webkit-border-radius:0px;">
    <a class="brand" style='font-family:Courier'><%=@problem_set.name %></a>
    <ul class="nav">
    </ul>
  </div>
</div>
<div id='prof_cont' class='static-page' style='height:100%'>
    <div style='padding:20px'>
    <p class='pset_desc'><%= @problem_set.description %></p>
    </div>
    <div id="badges_box" style='margin-left:40px'>
        <% @problem_set.problem_types.each do |ptype| %>
        <div class="list_box problem_list_box pset_list_box" style='margin:5px'>
            <p><%=ptype.name%></p>
            <% if(signed_in? && current_user.is_a?(Student))%>
            <%= link_to 'Try', pset_do_path(@problem_set.id, ptype.id), remote: :true%>
            <%else%>
            <%= link_to 'Try', do_sample_problem_path(ptype.id), remote: :true  %>
            <%end%>
        </div>
            <%end%>
    </div>
    <%= render 'shared/disqus' %>
    <!--<div class='home3' style="clear:both;">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="<%= @problem_set.video_link%>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    </div>-->
    
</div>

<script>
bclr_pset();
// $(document).ready(function(){
//     $('.account').click(function(){
//         var X=$(this).attr('id');
//         if(X==1)
//         {
//             $('.dropd').hide();
//             $(this).attr('id','0');

//         }
//         else
//         {
//             $('.dropd').show();
//             $(this).attr('id','1');
//         }



//     });
//     $(".dropd").mouseup(function()
// {
// return false
// });

// //Mouse click on my account link
// $(".account").mouseup(function()
// {
// return false
// });


// //Document Click
// $(document).mouseup(function()
// {
// $(".dropd").hide();
// $(".account").attr('id', '');
// });



// });

</script>

