<div class="row-clearfix">
    <h2>New Quiz</h2>
</div>

<%= form_for [@teacher, @quiz] do |f| %>
    <% if @quiz.errors.any? %>
        <div class="alert alert-error">
            <div id="error_explanation">
                <h5><%= pluralize(@quiz.errors.count, "error") %> prohibited this @quiz from being saved:</h5>
                <ul>
                    <% @quiz.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <p>
        <%= f.label "Quiz Name" %><%= f.text_field :name %><br />
    </p>
    <p>
        <%= f.label "Start Date & Time:" %><br />
        <%= f.datetime_select :start_time, default: Time.now %>
    </p>
    <p>
        <%= f.label "End Date & Time:" %><br />
        <%= f.datetime_select :end_time, default: 4.days.from_now %>
    </p>
    <p>
        <%= f.label "Timer" %><br />
        <%= f.time_select :timer, prompt: { hour: 'Choose hours', minute: 'Choose minutes'} %>
    </p>
    <p>
        <%= f.label "Quiz Type" %><br />
        <%= f.collection_select :quiz_type, Quiz.quiz_type_array, :first, :last %>
    </p>
        <div id="quiz_problem_fields">
            <%#= render "field_for_qp", :f => f %>
        </div>
    <%= f.hidden_field :problem_set_id, :value => @problem_set.id   if defined? @problem_set %>
    
    

    <div id="quiz_problems_message" class="teacher-details-header" style="margin-bottom:5px;"></div>
    <div class="row-clearfix">
        <div class="col-md-4">
            <h4>Problem Types</h4>
            <ul class="col-list-2 overlay_list">
                <% @problem_types.each do |ptype| %>
                    <% unless ptype.nil? %>
                        <li><%= ptype.to_s %>
                            <%= link_to "Add to Quiz",  new_quiz_problem_path(problem_type_id: ptype), :class => "pull-right", id: "add_problem_type_#{ptype.id}", remote: :true %>
                        </li>
                    <% end %>                        
                <% end %>      
            </ul>
        </div>
        <div class="col-md-4" id="selected_probs">
            <h4>Selected Problems</h4>
            <div id="qp">
                <ul class="col-list-2 overlay_list" id="selected_quiz_problems">
                    <%#= render "quiz_problem", :problem => problem, :problem_type => problem_type %>
                    <p id="no_qp_msg"><%= "No Problem is Selected Yet!" %></p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Assigned To</h4>
            <p id="assign_quiz_to_link" class="btn pull-right">Assign To</p>
            <ul class='col-list-2 overlay_list' id="quiz_assigned_to">
                <p id="no_aqt_msg">
                    Quiz not assigned to anyone.<br />
                    <strong>NOTE: Selecting whom to assign quiz here will assign quiz upon creation instantly to whom it is selected for.</strong>
                </p>
            </ul>
        </div>
    </div>
    <div id ="aqt_fields">
        <%#= render "aqt_fields" %>
    </div>
    <p><%= f.submit "Submit", :class => "btn" %></p>
<% end %>

<%= render "assign_quiz_to_form" %>

<script>
    $(function(){
        $("#assign_quiz_to_link").on('click',function() {
            $('#assign_quiz_to_Modal').modal('show');
        });
    });
</script>