<li id="selected_quiz_problem_<%= problem.id %>">
    <%= link_to problem_type.name, problem_path(problem), remote: :true %>
    <%= link_to "Remove", "#", remote: :true, :class =>"pull-right", id: "remove_quiz_problem_#{problem.id}" %>
</li>
<script>
    $(function(){
        $("#remove_quiz_problem_<%= problem.id %>").on('click',function() {
            $("#selected_quiz_problem_<%= problem.id %>").remove();
            $("#quiz_problems_<%= problem.id %>").remove();
        });
    });
</script>