<%# remember "quiz" is passed in by :object => (quiz) %>
<div class="problemscores tab-pane fordelete_<%= quiz.idname %>" id=<%= quiz.idname %>>
  <div style="border-bottom:2px solid black; margin:0px;">
    <div class="btn-group" style="margin:2px;"> 
      <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
        <%= quiz.name  %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to raw("<i class='icon-arrow-right'></i> Start Practicing!"), startquiz_path(:quizid => quiz.id) %></li>
        <li><%= link_to raw("<i class='icon-pencil'></i> Change Quiz Problems"), edit_quiz_path(quiz) %></li>
        <li><%= link_to raw("<i class='icon-remove-circle'></i> Delete This Quiz"), 
          quiz_path(quiz),
          :confirm => "Are you sure you want to delete the quiz \"#{quiz.name}?\"",
          :remote => true,
          :method => :delete %>
        </li>
      </ul>
    </div>
  </div>
  <div class=quizSmartscore>
    <% if quiz.hasSmartScore? %>
      Your SmartScore for this quiz is <%= quiz.smartScore %>
    <% else %>
      You need to do more problems to get your SmartScore
    <% end %>
  </div>
  <ul>
    <% quiz.ptypes.each do |ptype| %>
      <li>
      <%= ptype.type %>
      <%= get_smartscore(ptype) %>
      <br style="clear:both;">
      </li>
    <% end %>
  </table>
</div>
