<%= form_for(@quiz, url: create_quiz_path) do |f| %>
  <%= hidden_field_tag :classroom_id, @classroom.id %>
  <%= hidden_field_tag :problem_set_id, @problem_set.id %>
<div class="row-fluid">
  <ul class="breadcrumb">
    <li><b><%= @classroom.name %> </b> 
      <span class="divider">&gt</span>
    </li>

    <li><b><%= @problem_set.name %> </b> 
      <span class="divider">&gt</span>
    </li>

    <li class="active">
      New Quiz
      <span class="divider">&gt</span>
    </li>
    <li>
      <%= submit_tag "Assign" %>
    </li>
  </ul>
</div>
<div class="row-fluid">

  <%= render partial: 'form' %>
</div>
<% end %>
