<div class="row-fluid">
    <ul class="breadcrumb">
        <li>
            <b><%= @classroom.name %></b> 
            <span class="divider">&amp;</span>
        </li>
        <li>
            <b><%= @problem_set.name %></b> 
            <span class="divider">&amp;</span>
        </li>
        <li class="active">
            New Quiz
            <span class="divider">&amp;</span>
        </li>
        <li>
            <%= submit_tag "Assign" %>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="span4">
        <div class="dotted-border-header">
            Problems
        </div>
        <div class='dotted-border teacher-details-column'>
            <ul class='column-list' id="quiz_problems_tabs">
                <% @problem_set.problem_types.each do |ptype| %>
                    <% unless ptype.nil? %>
                        <li><%= ptype.to_s %>
                            <%= link_to "Add to Quiz",  "#qp", :"data-toggle" => "tab" , :class => "pull-right" %>
                        </li>
                    <% end %>                        
                <% end %>      
            </ul>
        </div>
    </div>
    <div class="span8">
        <div class="dotted-border-header">
            Selected Problems
        </div>
       
        <div class='dotted-border teacher-details-column'>
            <div class="tab-content">
                <div class="tab-pane" id="qp">
                    <ul class='column-list' id="quiz_problems_tabs">
                        <%= form_for(@quiz, url: create_quiz_path) do |f| %>
                            <%= hidden_field_tag :classroom_id, @classroom.id %>
                            <%= hidden_field_tag :problem_set_id, @problem_set.id %>
                            <% @quiz_problems.each do |quiz_problem| %>
                                <% unless quiz_problem.nil? %>
                                    <% ptype = quiz_problem.problem_type %>
                                    <li>
                                        <%= ptype %>
                                        <br/>
                                        <%= number_field_tag "quiz_problems[#{ptype.id}]", quiz_problem.count, in: 0..5, step:1, :style => "width:70px" %>
                                        <%= select_tag "category", "<option selected='selected'>Random</option><option>Custom Problem</option>".html_safe, :style => "width:120px" %>
                                    </li>
                                <% end %>                        
                            <% end %>  
                        <% end %>  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

