<%= render "problem_set_instances/progress_bar/#{@stat.color_status}" %>

<%= render 'stats' %>

<div class='row-fluid problem_body'>
  <%= form_tag ps_finish_problem_path(@problem_set.id), method: :post, autocomplete: :off, remote: true do %>
    <%= hidden_field_tag 'stat_id', @stat.id.to_s %>
    <%= render 'problems/form' %>
  <% end %>
</div>

<% if @problem.problem.has_notepad? %>
<div class='row-fluid calculations'>
  <%= render 'notepad/notepad' %>
</div>
<% end %>
