<% stat = item %>
<% ptype = stat.problem_type %>
<% col = stat.color_status %>
<% @true = stat.points_for(true) %>
<% @false = stat.points_for(false) %>
<div id="pt_<%= ptype.id %>" class="list_box problem_list_box <%= col %>-bord pset_pbar" style="width:auto">
  	<p>
  		<small>
  			<span class="label label-info correct_hist" style="background-color:transparent"><%= @true %></span> 
        <span class="label label-info incorrect_hist" style="background-color:transparent"><%= @false %></span> 
  		</small><br />
      <%= ptype.to_s %>
  	</p>
	 
  <%= link_to "Start", pset_do_path(:name => @instance.problem_set_id, :pid => ptype.id), :remote => true %>
</div>
