<% stat = item %>
<% ptype = stat.problem_type %>
<% col = stat.color_status %>

<div id="pt_<%= ptype.id %>" class="list_box problem_list_box <%= col %>-bord pset_pbar" style="width:auto">
  	<p>
  		<small>
  			<span class="label label-info correct_hist" style="background-color:transparent"><%= stat.points_for(true) %></span> 
        <span class="label label-info incorrect_hist" style="background-color:transparent"><%= stat.points_for(false) %></span> 
  		</small><br />
      <%= ptype.to_s %>
  	</p>
	 
  <%= link_to "Start", pset_do_path(:name => @problem_set.id, :pid => ptype.id), :remote => true %>
</div>
