<%= render 'shared/shelf', :@student => current_user, :@badges => @badges %>

<% unless @quiz.blank? %>
    <div class='btn-group'>
        <div class="quiz-link dropdown-toggle" data-toggle="dropdown">Quizzes</div>
        <div id='news'> 
            <ul class="dropdown-menu">
                <%# tem=@quiz.length %>
                <% @quiz.each_with_index do |quiz, i| %>
                    <li>
                        <% i += 1 %>
                        <%= link_to "Quiz #{i}", show_quiz_path(@instance, quiz) %>
                        <%# @quiz_instance = qu.quiz_instances.find_by_user_id(current_user.id) %>
                        <%# unless  @quiz_instance.blank? %>
                            <%#= link_to "Quiz #{tem}", start_quiz_path(@instance.id, :instance => @quiz_instance) %>
                        <%# else %>
                            <%#= link_to "Quiz #{tem}", start_new_quiz_path(@instance.id, :quiz_id => qu.id) %>
                        <%# end %>
                        <%# tem = tem - 1 %>
                    </li>
                <%end%>
            </ul>
        </div>
    </div>
<% end %>

<div style="float:left">

    <div class='dotted-border'>
        <ul id="problem_history" class="column-list">
            <% if @history.empty? %>
                <li class='color_list_box'>Problems will show up here as you do them</li>
            <% else %>
                <%= render :partial => 'history_ans', :collection => @history, :as => :answer %>
            <% end %>
            <li class='color_list_box'><%= link_to 'Click for Detailed History', progress_student_path(@student.id) %></li>
        </ul>
    </div>
</div>

<% @total = @instance.num_problems %>
<% @blue  = percentage(@instance.num_blue, @total) %>
<% @green = percentage(@instance.num_green, @total) %>
<% @red   = 100.0 - @blue - @green %>


<script>dbord(["<%=@blue%>","<%=@green%>","<%=@red%>"]);
</script>
<!-- it should be like this -->
<%# @a = @stats.map(&:color_status) %>
<%# @total = @instance.num_problems %>

<%# @blue  = percentage(@a.count("blue"), @total) %>
<%# @green = percentage(@a.count("green"), @total) %>
<%# @red   = 100.0 - @blue - @green %>
<!-- <script>dbord(["<%#=@blue%>","<%#=@green%>","<%#=@red%>"]);
</script> -->
<!-- end -->

<div id='bbor' style='margin-left:43px'>
    <% @stats.each do |i| %>
        <%= render :partial => 'problem_list_box', :object => i,  :locals => {:item => i}%>
    <% end %>

    <%= render "random_problem", instance: @instance, random_stat: @random_stat, random_problem_type: @random_problem_type %>
</div>

<%= render 'walkthrough' %>

<script>
bclr_problem();
mob_comp();
</script>