
<!--<div class=row-fluid>
  <%#= render 'students/student_info', :@student => current_user %>

  <h3 style="display:inline-block;">Learning</h3>
  <ul class="breadcrumb">
    <li><b>6th Grade </b><span class="divider">&amp;</span></li>
    <li><%#= link_to "Overview", studenthome_path %><span class="divider">&amp;</span></li>
    <li class=active><%#= @problem_set.name %></li>
  </ul>
</div>-->
<%= render 'shared/shelf', :@student => current_user, :@badges => @badges, :@all_badges => @all_badges %>

    <% unless @quiz.blank? %>

      <div class='btn-group'>
<div class="quiz-link dropdown-toggle" data-toggle="dropdown">Quizzes</div>
      <div id='news'> 
      <ul class="dropdown-menu">
        <% tem=@quiz.length %>
        <% @quiz.each do |qu| %>
          <li>
            <% @quiz_instance = qu.quiz_instances.find_by_user_id(current_user.id) %>
            <% unless  @quiz_instance.blank? %>
              <%= link_to "Quiz #{tem}", start_quiz_path(@instance.id, :instance => @quiz_instance) %>
            <% else %>
              <%= link_to "Quiz #{tem}", start_new_quiz_path(@instance.id, :quiz_id => qu.id) %>
            <%end%>
            <%tem=tem-1%>
          </li>
        <%end%>
      </ul>
    <% end %>
    </div>
  </div>



<div style="float:left">
    <div class='dotted-border-header'>
      <h4>History</h4>
    </div>

    <div class='dotted-border' style='height:1000px;'>
  <div class="gif_tick">
    <img src="/assets/Boxes_Animation.gif"></img>
  </div>
      <ul id="problem_history" class="column-list">
        <% if @history.empty? %>
          <li>Problems will show up here as you do them</li>
        <% else %>
          <%= render :partial => 'history_ans', :collection => @history, :as => :answer %>
        <% end %>
      </ul>
  </div>
</div>
    <% @a = @stats.map(&:color_status) %>
    <% @total = @instance.num_problems %>

    <% @blue  = percentage(@a.count("green"), @total) %>
    <% @green = percentage(@a.count("yellow"), @total) %>
    <% @red   = 100.0 - @blue - @green %>
<script>dbord(["<%=@blue%>","<%=@green%>","<%=@red%>"]);
</script>
<!-- it should be like this -->
    <%# @a = @stats.map(&:color_status) %>
    <%# @total = @instance.num_problems %>

    <%# @blue  = percentage(@a.count("blue"), @total) %>
    <%# @green = percentage(@a.count("green"), @total) %>
    <%# @red   = 100.0 - @blue - @green %>
<!-- <script>dbord(["<%#=@blue%>","<%#=@green%>","<%#=@red%>"]);
</script> -->
<!-- end -->
<div>
  <% @stats.each do |i| %>
    <%= render :partial => 'problem_list_box', :object => i,  :locals => {:item => i}%>
  <% end %>
</div>
<script>
bclr_problem();
</script>
</div>
