<%= form_tag({:controller => 'problem', :action => 'next_subproblem'}, :remote => true, :autocomplete => "off") do %>
  <%= hidden_field_tag 'subproblem_index', @i %>
  <%= hidden_field_tag 'problem_id', @problem.id %>
  <%= hidden_field_tag 'times_attempted', 0 %>
  <div>
    <div id=sp_0>
    <%= render :partial => 'problem/problem', :object => @explain[@i], :locals => {:partialdir => 'problem'} %>
    </div>
    <%= hidden_field_tag 'next_subproblem', "" %>
  </div>
  <%= submit_tag "Go on...", :class=>"btn-primary" %>
<% end %>
