<% if geometryfield.is_a?(GeometryField) %>
  <div class=tools style='float:left;width:250px;'>
    <!-- <div id="protractor" data-original-title="Use the protractor" ></div> -->
    <div id="line" data-original-title="Draw a line segment"></div>
    <div id = "compass" data-original-title="Draw a circle"></div>
    <input type="checkbox" id="usecirclesize" style="display:none" data-original-title="Save the last radius you used">
    <input type="text" id="circlesize" style="display:none" placeholder="<- lock radius">
  </div>
  <div class=tools style='float:right;width:100px;margin-right:30px;'>
    <div id="erase" data-original-title="Erase single shapes you've drawn" ></div>
    <div id="clear" data-original-title="Erase ALL the shapes you've drawn!" ></div>
  </div>
<% end %>
<div>
  <canvas id="geocanvas" height="<%= geometryfield.class.height %>" width="<%= geometryfield.class.width %>"> 
    Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
    </canvas>   
  <div id="shapes" style="display:none;"></div>
  <br style="clear:both">
</div>
<% shapes = geometryfield.encodedStartShapes %>
<%= hidden_field_tag('startshapes', shapes)   %>
<%= hidden_field_tag('selectedshapes')   %>
<%= hidden_field_tag('starttool', geometryfield.startTool) %>
<% if geometryfield.is_a?(GeometryField) %>
  <%= hidden_field_tag geometryfield.name, "" %>
<% end %>
<script>
  setUpGeo();
  $('#line').tooltip();
  $('#compass').tooltip();
  $('#protractor').tooltip();
  $('#erase').tooltip();
  $('#clear').tooltip();
  $('#usecirclesize').tooltip();
</script>
