<% if htmlobj.is_a? InputField %>
  <% if htmlobj.is_a? TextField %>
    <%= label_tag(htmlobj.name, htmlobj.label) unless htmlobj.label.nil? || htmlobj.label.empty? %>
    <% length = htmlobj.char_length(@problem) %>
    <%= text_field_tag htmlobj.name, "", :maxlength => htmlobj.maxlen, :style => len_to_css_width(length) %>
  <% elsif htmlobj.is_a? RadioButton %>
    <% htmlobj.fields.each do |field| %>
      <%= radio_button_tag(htmlobj.name, field) %>
      <%= label_tag(htmlobj.name, field) %>
      <br>
    <% end %>
  <% elsif htmlobj.is_a? Dropdown %>
    <%= select_tag(htmlobj.name, options_from_collection_for_select(htmlobj.fields, 'to_s', 'to_s' ), :style=> len_to_css_width(htmlobj.char_length + 4)) %>
  <% elsif htmlobj.is_a? Checkbox %>
    <%= label_tag(htmlobj.name, htmlobj.label) unless htmlobj.label.nil? %>
    <%= check_box_tag htmlobj.name %>
  <% elsif htmlobj.is_a? Commabox %>
    <div id=<%="#{htmlobj.name}_box"%> class=commabox></div>
    <%= hidden_field_tag htmlobj.name, "0"%>
    <script>
      name="<%=htmlobj.name%>";
      $("#"+name+"_box").click({name:name}, function(e){
        if($("#"+e.data.name).attr("value")=="0"){
          $("#"+e.data.name).attr("value", "1");
          $("#"+e.data.name+"_box").addClass("commachecked");
        }
        else{
          $("#"+e.data.name).attr("value", "0");
          $("#"+e.data.name+"_box").removeClass("commachecked");
        }
      });
    </script>
  <% else %>
    <% flash[:error] = "It seems the inputfield you passed in here didn't have a view implemented yet" %>
  <% end %>
<% else %>
  <% if htmlobj.is_a? RomanLabel %>
    <p style="font-family:Trajan-Bold; font-size:30px"><%= htmlobj.to_s %></p>
  <%else%>
    <p><%= htmlobj.to_s %></p>
  <%end%>
<% end %>
