<% # TODO move this to helper somehow?? %>
<% partial ||= 'problem/htmlobj' %>
<% locals  ||= {} %>

<% if multihtmlobj.is_a? Fraction %>
  <div class="fraction">
    <% unless multihtmlobj.intpart.nil? then %>
      <div class="intpart<%= (multihtmlobj.intpart.is_a? InputField) ? "Input" : "" %>">
        <%= render :partial => partial, :object => multihtmlobj.intpart, :locals => locals %>
      </div>
    <% end %>
    <div class="quotient">
      <div class="numerator<%= (multihtmlobj.num.is_a? InputField) ? "Input" : "" %>">
        <%= render :partial => partial, :object => multihtmlobj.num, :locals => locals %>
        </div> 
        <div class="denominator<%= (multihtmlobj.den.is_a? InputField) ? "Input" : "" %>">
        <%= render :partial => partial, :object => multihtmlobj.den, :locals => locals %>
      </div>
    </div>
  </div>
<% elsif multihtmlobj.is_a? MultiTextField %>
  <div class="multifield">
    <% multihtmlobj.each_field do |field| %>
      <%= render :partial => partial, :object => field, :locals => locals %>
    <% end %>
    <% if partial == 'problem/htmlobj' %>
      <%= add_multitext_field_link(multihtmlobj.name) %>
      <%= del_multitext_field_link() %>
    <% end %>
  </div>
<% elsif multihtmlobj.is_a? TableField %>
  <div class="multifield">
    <table>
      <%= multihtmlobj.nrows.times do |row| %>
        <tr>
          <%= multihtmlobj.each_col(row) do |htmlobj| %>
            <td><%= render :partial => partial, :object => htmlobj, :locals => locals%></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
