<% # TODO move this to helper somehow?? %>
<% partial ||= 'problem/htmlobj' %>
<% locals  ||= {} %>

<% if multihtmlobj.is_a? Fraction %>
  <div class="fraction">
    <% unless multihtmlobj.intpart.nil? then %>
      <div class="intpart<%= (multihtmlobj.intpart.is_a? InputField) ? "Input" : "" %>">
        <%= render :partial => partial, :object => multihtmlobj.intpart, :locals => locals %>
      </div>
    <% end %>
    <div class="quotient">
      <div class="numerator<%= (multihtmlobj.num.is_a? InputField) ? "Input" : "" %>">
        <%= render :partial => partial, :object => multihtmlobj.num, :locals => locals %>
        </div> 
        <div class="denominator<%= (multihtmlobj.den.is_a? InputField) ? "Input" : "" %>">
        <%= render :partial => partial, :object => multihtmlobj.den, :locals => locals %>
      </div>
    </div>
  </div>
<% elsif multihtmlobj.is_a? MultiTextField %>
  <div class="multifield">
    <div>
      <% multihtmlobj.each_field do |field| %>
        <%= render :partial => partial, :object => field, :locals => locals %>
      <% end %>
    </div>
    <% if partial == 'problem/htmlobj' %>
      <a href="#" class="add_mt_field btn">+</a>
      <a href="#" class="del_mt_field btn">-</a>
      <%# add_multitext_field_link(multihtmlobj.name) %>
      <%# del_multitext_field_link() %>
    <% end %>
  </div>
<% elsif multihtmlobj.is_a? TableField %>
  <div class="multifield">
    <table class="table table-striped" style="background-color:white">
      <% multihtmlobj.nrows.times do |row| %>
        <tr>
          <% multihtmlobj.each_column(row) do |htmlobj| %>
            <td><%= render :partial => partial, :object => htmlobj, :locals => locals%></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% elsif multihtmlobj.is_a? BarGraphField %>
  <div class="multifield">
    <canvas id=datacanvas height=350 width=400>
    </canvas>
    <%= hidden_field_tag('edit', multihtmlobj.edit) %>
    <%= hidden_field_tag('type', "basicbar") %>
    <%= hidden_field_tag('editdivs', multihtmlobj.editdivs) %>
    <%= hidden_field_tag('divs', multihtmlobj.divs) %>
    <table id=table style="display:none">
      <% multihtmlobj.obs.length.times do |row| %>
        <tr>
          <td><%= hidden_field_tag("#{multihtmlobj.name}_#{row}_name", multihtmlobj.obs[row]) %></td>
          <td><%= hidden_field_tag("#{multihtmlobj.name}_#{row}", multihtmlobj.init[row]) %></td>
        </tr>
      <% end %>
    </table>
    <script>
      setUpDataGr("datacanvas", "table");
    </script>
  </div>
<% elsif multihtmlobj.is_a? TallyMarksField %>
  <div class="multifield">
    <div id=tally style="position:relative">
      <canvas id=datacanvas height=400 width=400 style="border-style:solid; border-width:2px;">
      </canvas>
      <%= hidden_field_tag('type', "tally") %>
      <%= hidden_field_tag('edit', multihtmlobj.edit) %>
      <table id=table style="display:none">
        <% multihtmlobj.obs.length.times do |row| %>
          <tr>
            <td><%= hidden_field_tag("#{multihtmlobj.name}_#{row}_name", multihtmlobj.obs[row]) %></td>
            <td><%= hidden_field_tag("#{multihtmlobj.name}_#{row}", multihtmlobj.init[row]) %></td>
          </tr>
        <% end %>
      </table>
      <script>
        setUpDataGr("datacanvas", "table");
      </script>
    </div>
  </div>
<% elsif multihtmlobj.is_a? InpNumberLine %>
  <div class="multifield">
    <div id=nline style="position:relative; width:450px; height:200px">
      <canvas id="nlcanvas" height="100" width="450"> 
      Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
      </canvas>   
      <%=hidden_field_tag("inp", "#{multihtmlobj.val}")%>
      <%=hidden_field_tag("bigdiv", multihtmlobj.bigdiv)%>
      <%=hidden_field_tag(multihtmlobj.name, "")%>
      <script>
        setUpNL("<%=multihtmlobj.name%>", false, false, "inpval");
      </script>
    </div>
  </div>
<% elsif multihtmlobj.is_a? MovNumberLine %>
  <div class="multifield">
    <div id=nline style="position:relative; width:450px; height:200px">
      <canvas id="nlcanvas" height="100" width="450"> 
      Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
      </canvas>   
      <%=hidden_field_tag("bigdiv", multihtmlobj.bigdiv)%>
      <%=hidden_field_tag(multihtmlobj.name, "#{multihtmlobj.val}")%>
      <script>
        setUpNL("<%=multihtmlobj.name%>", false, false, "movinp");
      </script>
    </div>
  </div>
<% end %>
