<h2 style='border-bottom:1px solid #e5e5e5'>Create Classroom</h2>
<%= form_for [@teacher, @classroom], :url => create_classroom_path do |f| %>
    <% if @classroom.errors.any? %>
        <div class="alert alert-error">
            <div id="error_explanation">
                <h5><%= pluralize(@classroom.errors.count, "error") %> prohibited this comment from being saved:</h5>
                <ul>
                    <% @classroom.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <div class="input-prepend">
        <label for="classroom_name_modal">Classroom Name</label>
        <%= f.text_field :name, :placeholder => "Type Classroom Name Here !!", id: "classroom_name_modal", :class => 'form-control' %>
    </div>
    <br/>
    <div class="input-prepend">
        <label for='student_password'>Student Password</label>
        <%= f.text_field :student_password, :value => @classroom.rand_password, :readonly => :true, :class => 'form-control' %>
    </div>
    <br/>
    <%= f.submit "Create", :class => 'btn btn-default' %>
<% end %>