<div class="row" id="classroom" style='margin-top:100px;'>
    <div class="col-md-4" id="classroom_name">
        <%= link_to classroom.name, details_path(classroom.id) %>
    </div>
    <div class="col-md-6" id="classroom_stat">
        <div class="btn-group">
            
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <%= image_tag "gear_small.png" %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "Assign: Problem Set(Main)", show_psets_path(classroom.id) if current_user.email == "t.homasramfjord@gmail.com" %>                   
                    <%= link_to "Assign: Problem Set", show_problem_sets_path(@teacher, classroom.id) %>
                    <%= link_to "Assign: Quiz", "#", remote: :true %>
                </li>
            </ul>
        </div>
        <span class="student_class_password"><%= classroom.student_password %></span><p style="display: inline-block;"><small>Password for Students</small></p><br>
        <span class="teacher_class_password"><%= classroom.teacher_password %></span><p style="display: inline-block;"><small>Password for Teachers</small></p>
        <br>
        <span class="students_count" style="display: inline-block;"><%= students_count = classroom.students_count %></span>
        <% if students_count == 0 %>
            <p style="display: inline-block;"><small>Give your students the seven letter / number password in the box above so they can join your online classroom. </small></p>
        <% else %>
            <p style="display: inline-block;"><small>Students</small></p>
        <% end %>
        <%= classroom.quizzes_count %>
        <p style="display: inline-block;"><small>Quizzes</small></p>
        <%= classroom.problem_sets_count %>
        <p style="display: inline-block;"><small>Problem Sets</small></p>
    </div>
</div>