<div class='row-fluid class-overview'>
  <div class=dotted-border-header>
    Class <%= classroom.name %> 
    <%= link_to "Details", details_path(classroom.id) %> 
    <%= link_to "Grades", "#" %>
    <div class=class_password>
      <%= classroom.class_pass %>
    </div>
  </div>
  <div class='dotted-border teacher-class-box' style="height:200px;">
    <div class=row-fluid>
      <div class=span4>
        <ul class='column-list teacher-class-col'>
          <li class=list-header>
            Students 
            <div class="pull-right">
            <%= classroom.students.count unless classroom.students.empty? %>
            </div>
          </li>
          <% if classroom.students.empty? %>
            <li>Give your students the seven letter / number password in the box above so they can join your online classroom.</li>
          <% else ; classroom.students.each do |student| %>
            <li><%= link_to student.name, student_path(student.id) %></li>
          <% end ; end %>
        </ul>
      </div>

      <div class=span4>
        <ul class='column-list teacher-class-col'>
          <li class=list-header>
            Problem Sets
            <%= link_to "Assign", show_psets_path(classroom), :class => 'pull-right', :remote => true %>
          </li>
          <% if classroom.problem_sets.empty? %>
            <li>The problem sets you assign to a classroom determine which problems a student has access to.</li>
            <li><%= link_to "Assign", "#" %> your first problem set so your students can start working!</li>
          <% else ; classroom.problem_sets.each do |problem_set| %>
            <li><%= link_to problem_set.name, details_path(id: classroom.id, problem_set: problem_set.id) %></li>
          <% end ; end %>
        </ul>
      </div>
      <div class=span4>
        <ul class='column-list teacher-class-col'>
          <li class=list-header>
            Quizzes
            <%= link_to "Assign", "#", :class => 'pull-right' %>
          </li>
          <%= render :partial => 'teachers/quiz_history' %>
        </ul>
      </div>
    </div>
  </div>
</div>
