<div class="col-md-6 class_over">
    <h2><%= link_to classroom.name, details_path(classroom.id) %>
        <div class="btn-group pull-right">
            
            <div  data-toggle="dropdown">
                <span class='glyphicon glyphicon-align-justify'></span>
            </div>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "Assign: Problem Set(Main)", show_psets_path(classroom.id) if current_user.email == "t.homasramfjord@gmail.com" %>                   
                    <%=link_to "Manage Problem Sets", details_path(classroom.id, type: "psets")%>
                    <%=link_to "Problem Set Stats", details_path(classroom.id, type: "problem_sets")%>
                    <%=link_to "Quizzes", details_path(classroom.id, type: "quizzes")%>
                    <%=link_to "Students", details_path(classroom.id, type: "students")%>
                    <%=link_to "Discussions", details_path(classroom.id, type: "discussions")%>
                    <%=link_to "Sessions", details_path(classroom.id, type: "lessons")%>
                </li>
            </ul>
        </div>
    </h2>
    <div style='margin-top: 50px;'>
        
        <p style="display: inline-block; margin-right:5px;"><small>Password for Students</small></p><span class="student_class_password"><%= classroom.student_password %></span><br>
        <p style="display: inline-block;; margin-right:5px;"><small>Password for Teachers</small></p><span class="teacher_class_password"><%= classroom.teacher_password %></span>
        <br>
        <span class="students_count the_det" style="display: inline-block;"><p><%= students_count = classroom.students_count %></p>
        
            <p style="display: inline-block;"><%=link_to "Students", details_path(classroom.id, type: "students")%></p>
        </span>
        <span class='the_det' style="display: inline-block;">
        <p><%= classroom.quizzes_count %></p>
        <p style="display: inline-block;"><%=link_to "Quizzes", details_path(classroom.id, type: "quizzes")%></p>
        </span>
        <span class='the_det' style="display: inline-block;">
        <p><%= classroom.problem_sets_count %></p>
        <p style="display: inline-block;"><%=link_to "Problem Sets", details_path(classroom.id, type: "psets")%></p>
        </span>
    </div>
    <% if students_count == 0 || students_count==nil %>
        <p style="display: inline-block;"><small>Give your students the seven letter / number password in the box above so they can join your online classroom. </small></p>
    <%end%>
</div>