<div class='navbar'>
	<div class="navbar-inner" style="height:40px; border-radius:0px; -webkit-border-radius:0px;">
<a class="brand" style='font-family:Courier'><%=@classroom.name %></a>
</div>
</div>
<h3>What's happening in this classroom:</h3>
<div class="row-fluid">									
	<%- @activities.each do |activity| -%>
		<div class="row-fluid feed_ind">
			<div class="feed_name">
				<%= link_to activity[1], student_path(activity[0]), remote: :true %>
			</div>
			<div class="feed_content">
				<%= activity[2] %>
			</div>
			<div class="feed_time">
				<%= event_time_format(activity[3]) %>
			</div>
		</div>
	<%- end -%>
</div>
<div id="check"></div>
<div class="row-fluid" id="t_or_c">
	<h3>Topics: </h3>
	<h4>New Topic: </h4>
	<div class="row-fluid" id="new_topic_form">
		<%= render "topics/form_for_new_topic", :user => current_user, :classroom_id => @classroom.id, :topic => @topic %>
	</div>
	<div class="row-fluid" id="all_topics">
		<%- unless @topics.blank? -%>
			<%= render "topics/topics", :topics => @topics, :user => current_user, :classroom_id => @classroom.id %>
		<%- end -%>
	</div>
</div>
<!-- <div class="row-fluid">
	<h3>Comments: </h3>
	<h4>New Comment </h4>
	<div class="row-fluid" id="new_comment_form">
		<%#= render "comments/form_for_new_comment", :user => current_user, :classroom => @classroom, :comment => @comment %>
	</div>
	<div class="row-fluid" id="comments">
		<%#= render "comments/comments", :comments => @comments %>
	</div>
</div> -->