<% if htmlobj.is_a? TextLabel %>
  <%= htmlobj.to_s %>

<% elsif htmlobj.is_a?(TextField) || htmlobj.is_a?(Commabox) %>
  <div class="correct">
    <%= render :partial => 'problemanswers/responsefield', :locals => {:response => @solution}, :object => htmlobj %>
  </div>

  <% unless htmlobj.correct? @solution, @response %>
    <br>
    <div class="incorrect">
      <%= render :partial => 'problemanswers/responsefield', :locals => {:response => @response}, :object => htmlobj %>
    </div>
  <% end %>

<% elsif htmlobj.is_a?(Checkbox) %>
  <% r_checked = !@response[htmlobj.name].nil? %>
  <% s_checked = !@solution[htmlobj.name].nil? %>
  <% checked = r_checked || s_checked %>
  <% corr_class = htmlobj.correct?(@solution, @response) ? "correct" : "incorrect" %>
  <% corr_class = "" unless checked %>

  <% tooltip = '' %>

  <% if r_checked && !s_checked %>
    <% tooltip = "This was correct, but you didn't click it." %>
  <% elsif !r_checked && s_checked %>
    <% tooltip = "You clicked this and it was incorrect." %>
  <% end %>

  <div class='<%= corr_class %> checkbox-item' data-original-title="<%= tooltip %>">
    <% if r_checked != s_checked %>
      <%= check_box_tag htmlobj.name, "1", s_checked, { :disabled => true } %>
      <%= check_box_tag htmlobj.name, "1", r_checked, { :disabled => true } %>
    <% else %>
      <%= check_box_tag htmlobj.name, "1", checked, { :disabled => true } %>
    <% end %>
    <%= label_tag(htmlobj.name, htmlobj.label) unless htmlobj.label.nil? %>
  </div>

<% elsif htmlobj.is_a?(Commabox) %>
  <br>
  <div class="incorrect">
    <%= render :partial => 'problemanswers/responsefield', :locals => {:response => @response}, :object => htmlobj %>
  </div>
<% elsif htmlobj.is_a?(RadioButton) || htmlobj.is_a?(Dropdown) %>
  <% htmlobj.fields.each do |field| %>
    <% if htmlobj.correct?(@solution, {htmlobj.name => field.to_s}) %>
      <% checked = true %>
      <div class="correct">
    <% elsif htmlobj.correct?(@response, {htmlobj.name => field.to_s}) %>
      <% checked = true %>
      <div class="incorrect">
    <% end %>
        <%# check_box_tag(field, "1", checked, :disabled => true) %>
        <%= field %>
        <br>
    <% if checked %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% flash[:error] = "passed a non-htmlobj into the htmlobj partial!" %>
<% end %>
