<p id="notice"><%= notice %></p>

<% @problem.text.each do |elt| %>
	<% if elt.is_a? InputField %>
		<div class="solution">
			<%= render_soln_field(@solution, @response, elt).html_safe %>
		</div>
	<% elsif elt.is_a? Fraction %>
		<div class="solution">
			<%= @solution[elt.num] %> / 
			<%= @solution[elt.den] %>
		</div>
	<% else %>
		<div class="explanation">
			<%= elt.to_s %>
		</div> 
	<% end %>
<% end %>

<%= link_to "More Problems", root_path %>

