<div id="comment_<%= comment.id %>">
        <%- user = comment.user -%>
        <%- unless user.image.blank? -%>
            <%= image_tag ("#{user.image}"), :size => "60x60", :class => "pull-left media-object" %>
        <%- else -%>
            <%= image_tag ("default_70x70.png"), :size => "60x60", :class => "pull-left media-object", :style => 'margin-right:20px' %>
        <%- end -%>
        <div class='comm_cont'><%= comment.content_html %></div>
        <div id ="comment_controls">
                <p>
                    <small>
                        <%= event_time_format(comment.updated_at) %>
                        <%- if current_user.id == user.id -%>
                            <%= link_to "Edit", edit_user_comment_path(user, comment), remote: :true %>
                            <%= "|" %>
                            <%= link_to "Delete", user_comment_path(user, comment), method: :delete, remote: :true, confirm: "Are you Sure?" %>
                        <%- end -%>
                        <%= "|" %>
                        <% if defined? @classroom %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id, 
                            :classroom_id => @classroom), remote: :true  %>
                        <% elsif !comment.classroom_id.blank? %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id, 
                            :classroom_id => comment.classroom_id), remote: :true  %>
                        <% end %>
                        <% if defined? @answer %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id, 
                            :answer_id => @answer), remote: :true %>
                        <% elsif !comment.answer_id.blank? %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id,
                            :answer_id => comment.answer_id), remote: :true %>
                        <% end %>
                        <% if user.is_a?(Student) and current_user.is_a?(Teacher) %>
                            <%= " | " %>
                            <%= link_to "Delete", user_comment_path(user, comment), method: :delete, remote: :true, confirm: "Are you Sure?" %>
                            <%= link_to "| Give a Merit", new_teacher_badge_path(current_user, :comment_id => comment.id, :student_id => user.id), remote: :true, id: "merit_link_#{comment.id}" if comment.merit.nil? %>
                        <% end %>
                    </small>
                    <small class='pull-right'><%= " by: #{user.name}" %></small>
                    <div class "row-fluid" id="merit_box_<%= comment.id %>">
                        <%= render "badges/comment_merit", :user_id => user.id, :merit => comment.merit %>
                    </div>
                    <div class"row-field" id="merit_form_<%= comment.id %>" style="display: inline-block;">
                    </div>

                </p>
            </div>
            <!-- Nested media object -->
            <br />
            <div class="replies" id="comment_replies_<%= comment.id %>">
                <%= render "comments/replies", :comment => comment %>
            </div>
        </div>
    <br />
</div>