<div class="row-fluid" id="comment_<%= comment.id %>">
    <div class="media">
        <%- user = comment.user -%>
        <%- unless user.image.blank? -%>
            <%= image_tag ("#{user.image}"), :size => "60x60", :class => "pull-left media-object" %>
        <%- else -%>
            <%= image_tag ("default_70x70.png"), :size => "60x60", :class => "pull-left media-object" %>
        <%- end -%>
        <div class="media-body" id="comment_body_<%= comment.id %>">
            <h4 class="media-heading"><%= comment.content %><small><%= " by: #{user.name}" %></small></h4>
            <div id ="comment_controls">
                <p>
                    <small>
                        <%= event_time_format(comment.updated_at) %>
                        <%- if current_user.id == user.id -%>
                            <%= link_to "Edit", edit_user_comment_path(user, comment), remote: :true %>
                            <%= "|" %>
                            <%= link_to "Delete", user_comment_path(user, comment), method: :delete, remote: :true  %>
                        <%- end -%>
                        <%= "|" %>
                        <% if defined? @classroom %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id, 
                            :classroom_id => @classroom), remote: :true  %>
                        <% elsif !comment.classroom_id.blank? %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id, 
                            :classroom_id => comment.classroom_id), remote: :true  %>
                        <% end %>
                        <% if defined? @answer %>
                            <%= link_to "Reply", new_user_comment_path(current_user, :reply_comment_id => comment.id, 
                            :answer_id => @answer), remote: :true %>
                        <% elsif !comment.answer_id.blank? %>
                            <%= link_to "Reply", new_user_comment_path(current_userr, :reply_comment_id => comment.id,
                            :answer_id => comment.answer_id), remote: :true %>
                        <% end %>
                    </small>
                </p>
            </div>
            <!-- Nested media object -->
            <div class="media well well-small" id="comment_replies_<%= comment.id %>">
                <%= render "comments/replies", :comment => comment %>
            </div>
        </div>
    </div>
    <br />
</div>