<%= form_for [user, comment], :url => user_comments_path(user), :remote => :true do |f| %>
  	<% if comment.errors.any? %>
    	<div class="alert alert-error">
    		<div id="error_explanation">
    			<h5><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h5>
   				<ul>
   					<% comment.errors.full_messages.each do |msg| %>
     					<li><%= msg %></li>
     				<% end %>
   				</ul>
        </div>
		  </div>
    <% end %>

	<div class="field">
    	<%= f.text_area :content, :rows => 2 %>
	</div>

	<div class="actions">
      <%= f.submit "Comment", :class => "btn", :id => 'sub_cmt' %>
	</div>
	
  <div class="field">
      <% if defined? classroom %>
          <%= f.hidden_field :classroom_id, :value => classroom.id %>
      <% elsif defined? answer %>
          <%= f.hidden_field :answer_id, :value => answer.id %>
      <% end %>
	</div>

  <div class="field">
      <% if defined? reply_comment_id %>
          <%= f.hidden_field :reply_comment_id, :value => reply_comment_id %>
      <% end %>
  </div>

  <div class="field">
      <% if defined? topic %>
          <%= f.hidden_field :topic_id, :value => topic.id %>
      <% end %>
  </div>
<% end %>