<div class="modal-header2 modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="opacity:1;">×</button>
    <h3 id="myModalLabel" class="badgehead">BADGES</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <table>
            <% all_badges.each do |badge| %>
               <tr>
                   <td>
                        <p>
                            <% case shape %>
                                <% when "1" %>
                                    <%= image_tag "tetrahedron.png", :size => "20x20" %>
                                <% when "2" %>
                                    <%= image_tag "cube.png", :size => "20x20" %>        
                                <% when "3" %>
                                    <%= image_tag "octahedron.png", :size => "20x20" %>        
                                <% when "4" %>
                                    <%= image_tag "dodecahedron.png", :size => "20x20" %>                
                                <% when "5" %>
                                    <%= image_tag "icosahedron.png", :size => "20x20" %>        
                            <% end %>
                            
                            <% if student_badges.pluck(:name).include? badge[1] %>
                                <%= badge[1] %><%= " You Got this Badge" %>
                            <% else %>
                                <%= badge[1] %><%= " You haven't got this Badge" %>
                            <% end %>   
                        </p>
                    </td>
                </tr>
            <% end %>     
        </table>
    </div>
</div>