<div class="modal-header2 modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="opacity:1;">×</button>
    <h3 id="myModalLabel" class="badgehead">BADGES</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <table>
            <% i = 1 %>
            <% @student_badges.each do |badge| %>
               <tr>
                    
               <td>
                    <p>
                        <% case shape %>
                            <% when "1" %>
                                <%= image_tag "tetrahedron.png", :size => "20x20" %>
                            <% when "2" %>
                                <%= image_tag "cube.png" %>        
                            <% when "3" %>
                                <%= image_tag "octahedron.png" %>        
                            <% when "4" %>
                                <%= image_tag "dodecahedron.png" %>                
                            <% when "5" %>
                                <%= image_tag "icosahedron.png" %>        
                        <% end %>
                        <%= badge.name %>
                    </p>
                </td>
                </tr>
            <% i += 1 %>
            <% if i ==4 %>
                <br>
                <% i = 1 %>
            <% end %>
            <% end %>     
            
        </table>
    </div>
</div>