<div class="row-fluid" style="text-align:center;">
    <h2 class='pro_header'>EDIT YOUR PROFILE</h2>
</div>
<%= form_for @student, :url => update_student_path(@student), :html => { :multipart => true } do |f| %>        
 <% if @student.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <h5><%= pluralize(@student.errors.count, "error") %> prohibited this comment from being saved:</h5>

        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :old_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :old_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :new_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :new_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :confirm_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :confirm_password, :class => 'text_field' %>
    </div>
  </div>
  
  <div >
    <%= f.hidden_field :image %>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= content_tag :i, "",:class=>"char_disp char char_1", :onclick=> 'select_image("char_1")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_2", :onclick=> 'select_image("char_2")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_3", :onclick=> 'select_image("char_3")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_4", :onclick=> 'select_image("char_4")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_5", :onclick=> 'select_image("char_5")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_6", :onclick=> 'select_image("char_6")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_7", :onclick=> 'select_image("char_7")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_8", :onclick=> 'select_image("char_8")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_9", :onclick=> 'select_image("char_9")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_10", :onclick=> 'select_image("char_10")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_11", :onclick=> 'select_image("char_11")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_12", :onclick=> 'select_image("char_12")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_13", :onclick=> 'select_image("char_13")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_14", :onclick=> 'select_image("char_14")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_15", :onclick=> 'select_image("char_15")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_16", :onclick=> 'select_image("char_16")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_17", :onclick=> 'select_image("char_17")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_18", :onclick=> 'select_image("char_18")' %>
      <%= content_tag :i, "",:class=>"char_disp char char_19", :onclick=> 'select_image("char_19")' %>
    </div>
  </div>

  <div class="form-actions" style='text-align:center; background-color:transparent; border-top:0'>
    <%= f.submit "Update", :class => 'button-blue', :style => 'width:300px; height:100px; background-color:purple; margin-left:auto; margin-right:auto;' %>
    <%#= link_to "Cancel", studenthome_path, class: "btn" %>
  </div>
<% end %>

<script>
  $('.'+'<%= @student.image %>').css("border","1px solid black");
  $('.'+'<%= @student.image %>').css("width","98px");
  $('.'+'<%= @student.image %>').css("height","98px");
  function select_image(value) {
    var image = value; 
    $(".char").css('border', 'none');
    $(".char").css("width","100px");
    $(".char").css("height","100px");
    $("."+image).css("border","1px solid black");
    $("."+image).css("width","98px");
    $("."+image).css("height","98px");
    $("#student_image").val(image);
  }
</script>