<div class="tabbable">
<ul class="nav nav-tabs">
  	<li class="<%= 'active' if @tab=='profile' || @tab==nil || @tab=='' %>">
    	<%= link_to "Profile", student_path() %>
  	</li>
  	<li class="<%= 'active' if @tab=='badges'%>">
    	<%= link_to "Badges", student_badges_path() %>
    </li>
  	<li class="<%= 'active' if @tab=='graphs'%>">
    	<%= link_to "Graphs", chart_student_path() %>
  	</li>
  	<li class="<%= 'active' if @tab=='progress'%>">
    	<a>Progress</a>
  	</li>
  </ul>
</div>