<div class="tab-pane" id="chap_problem_type_<%= @problem_type.id%>">
	<div class="column-listheader">
		<h4>History</h4>
	</div>
	<div class="column-listdiv" style="min-height:400px;">
		<ul class='column-list2 colum-list22' id="History_tabs">
			<% @answers.each do |answer| %>
				<% if answer.correct == true%>
					<li>
						<%= link_to (answer.problem_type.to_s), show_answer_path(id: answer.id, instance: answer.session_id), remote: true %>
						<span style="float:right;"><%= image_tag "correct_check.png"%></span>
					</li>	
				<% else %>		
					<li>
						<%= link_to (answer.problem_type.to_s), show_answer_path(id: answer.id, instance: answer.session_id), remote: true %>
						<span style="float:right;"><%= image_tag "incorrect_3.png"%></span>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>