<%# problem_set = problem_set_instance.problem_set %>

<div class='pset_pbar'>
	<div class='list_box_2 color_list_box problem_list_box pset_list_box'>
		
		<% @total = problem_set_instance.num_problems %>

		<% @blue  = percentage(problem_set_instance.num_blue, @total) %>
		<% @green = percentage(problem_set_instance.num_green, @total) %>
		<% @red   = 100.0 - @blue - @green %>

		<%# @is_problem_set_is_blue = @total - @a.count("blue") %>
		<%#= image_tag("maths_genius.png", :class => "badge", :size => "20x20", :alt => " You won this Badge for completing #{pset.name} ") unless @is_problem_set_is_blue != 0 %>
		<p>
			<%= problem_set_instance.name %><br> 
			<%= link_to "?", view_problem_set_path(problem_set_instance.problem_set_id), :class => "normal_a_link", :target => "_blank" %>
		</p>
		<%= link_to "Enter", problem_set_instance_path(problem_set_instance.problem_set_id) %> 

	</div>

	<div class="progress pset_bar">
		<div class="bar bar-info" style="width: <%= @blue %>%"></div>
		<div class="bar bar-success" style="width: <%= @green %>%"></div>
		<div class="bar bar-danger" style="width: <%= 100-@blue-@green %>%"></div>
	</div>
	<script>
		animating=false;
	</script>
</div>