<div class="row-clearfix">
	<% if @student.is_a?(Student) and current_user.is_a?(Teacher) %>
 		<br />
 		<%= link_to "Give a Merit", new_teacher_badge_path(current_user, :student_id => @student.id), remote: :true, :class => 'button-blue pull-right', id: "merit_link_#{@student.id}" if @merit.blank? %>
    <% end %>
    <div class "row-clearfix" id="merit_box_<%= @student.id %>">
        <%= render "badges/student_merit", :user_id => @student.id, :merit => @merit %>
    </div>
    <div class"row-clearfix" id="merit_form_<%= @student.id %>" style="display: inline-block;">
    </div>
</div>
<div id="problems_history" class="teacher-details-header" style="margin-bottom:5px;"></div>
<div class="row-clearfix">
  	<div class="col-md-4">
  		<div>
	  	<h2>Problem Sets</h2>
	  	<ul class='col-list-2'>
			<% @problem_sets.each do |problem_set| %>
				<li id="chap_problem_set_<%= problem_set.id %>"><%= link_to problem_set.name, get_problem_set_history_path(@student.id, problem_set_id: problem_set.id), remote: :true %></li>
			<% end %>
	  	</ul>
	  </div>
  	</div>
  	<div class="col-md-4">
		<div id="problem_types_column_list">
		</div>
	</div>
	<div class="col-md-4">
		<div id="problems_column_list">
		</div>
	</div>
</div>
