
<% @all_badges.each do |badge| %>
<div class='badge_sh <%= "not_got_badge" if !@student_badges.pluck(:name).include? badge[1] %>' style='font-family:Courier'>
    <div>
    <% case @shape %>
    <% when "1" %>
    <%= image_tag "tetrahedron.png", :size => "20x20" %>
    <% when "2" %>
    <%= image_tag "cube.png", :size => "20x20" %>        
    <% when "3" %>
    <%= image_tag "octahedron.png", :size => "20x20" %>        
    <% when "4" %>
    <%= image_tag "dodecahedron.png", :size => "20x20" %>                
    <% when "5" %>
    <%= image_tag "icosahedron.png", :size => "20x20" %>        
    <% end %>
    <%= badge[1] %> 
</div>
</div>
<% end %>     