<div class="student-info">
  <%= image_tag @student.image.url(:thumb), :style => "margin-top:0px;", :class => "pull-right" %>
  <ul class="breadcrumb pull-right">
    <li>
    <h4><%= @student.name %></h4>
    <%= @student.classroom_assignments.first.classroom.name %>
    <h4>Points: <span class="label label-info"><%= @student.points %></span></h4>
    <%= link_to "Edit your profile", edit_student_path, :remote => true %>
    </li>
  </ul>
</div>
