<%= @student.name %>
<% @arr = [['Weeks Ago','% correct']]%>
<% i=51 %>
<% while i >= 0 do %>
	<% time_range = (date_of_last("Monday",(i+1).weeks.ago)..date_of_last("Monday",i.weeks.ago)) %>
	<% @b = @student.answers.where(:created_at => time_range).select{|v| v.correct == true } %>
	<% @b_wrong = @student.answers.where(:created_at => time_range).select{|v| v.correct == false } %>
	<% @count = @b.count%>
	<% @count_wrong = @b_wrong.count %>
	<% if @count_wrong+@count == 0%>
		<% @arr.push([(i+1).to_s,0]) %>
	<% else %>
		<% @arr.push([(i+1).to_s,(@count*100)/(@count_wrong+@count)]) %>
	<% end %>		
	<% i = i-1%>
<% end %>	
<% id="chart_div" %>

    <div id="chart_div" style="width: 900px; height: 500px;"><%= render 'shared/linechart', :@arr => @arr, :@id => id %></div>


<% @arr2 = [['Chapters','Wrong Answers']]%>
<% @student.problem_set_instances.each do |pset|%>
  <% @ans_wrong = pset.answers.select{|v| v.correct == false }%>
  <% @arr2.push([pset.name, @ans_wrong.count]) %>
<% end %>
<%id = "chart_div_2" %>

    <div id="chart_div_2" style="width: 900px; height: 500px;"><%= render 'shared/piechart', :@arr => @arr2, :@id => id %></div>



<% @arr3 = [['Chapters','Correct Percentage']]%>
<% @student.problem_set_instances.each do |pset|%>
  <% @ans_right = pset.answers.select{|v| v.correct == true }%>
  <% @ans_wrong = pset.answers.select{|v| v.correct == false }%>
  <% if (@ans_wrong.count + @ans_right.count) > 0 %>  
    <% @arr3.push([pset.name, (@ans_right.count*100)/(@ans_right.count+@ans_wrong.count)]) %>
  <% end %>  
<% end %>
<% id="chart_div_3" %>



    <div id="chart_div_3" style="width: 900px; height: 500px;"><%= render 'shared/barchart', :@arr => @arr3, :@id => id %></div>



<% @arr4 = [['Weeks Ago','Questions Done']]%>
<% i=51 %>
<% while i >= 0 do %>
  <% time_range = (date_of_last("Monday",(i+1).weeks.ago)..date_of_last("Monday",i.weeks.ago)) %>
  <% @no_of_answers = @student.answers.where(:created_at => time_range) %>
    <% @arr4.push([(i+1).to_s,@no_of_answers.count]) %>
  <% i = i-1 %>
<% end %> 
<% id="chart_div_4" %>




    <div id="chart_div_4" style="width: 900px; height: 500px;"><%= render 'shared/linechart', :@arr => @arr4, :@id => id %></div>



<% @arr5 = [['Chapters','Questions Done']]%>
<% time_range = (2.weeks.ago..Time.now) %>
<% @student.problem_set_instances.each do |pset|%>
  <% @ans = pset.answers.where(:created_at => time_range) %>
  <% @arr5.push([pset.name, @ans.count]) %>
<% end %>

<% id = "chart_div_5" %>

 
    <div id="chart_div_5" style="width: 900px; height: 500px;"><%= render 'shared/piechart', :@arr => @arr5, :@id => id %></div>



<div class="span4">
    <div class="dotted-border-header">
        Chapters
    </div>
    <div class='dotted-border teacher-details-column'>
        <ul class='column-list' id="chapter_tabs" style="width:100%; height:500px; overflow-x:hidden; overflow-y:scroll;">
        <% @problem_sets.each do |pset| %>
            <li><%= link_to pset.name, chart_student_pset_path(@student.id,pset), :remote => :true %></li>
        <% end %>
        </ul>
    </div>
</div>

<div class = "span12" id = "pset_chart">
 </div> 