<!-- <<<<<<< HEAD
<div class = "row-fluid">
    <%#= render 'student_info' %>
    <%#= image_tag("maths_genius.png", :class => "badge", :size => "68x68", :alt => " You won this Badge for doing all Problem Sets ") if @is_all_blue = false %>
    <div class = "well well-small pull-left">
        <%#= @badges %>
    </div>
</div>

<div class = "row-fluid">
    <div class = "span4">
        <div class = 'dotted-border-header'>
            <h4>Progress Center<h4>
        </div>
        <div class='dotted-border' style='min-height:400px;'>
            <%#= render 'progress_center' %>
        </div>
    </div>
    <div class="gif_tick">
        <img src="/assets/line_animation.gif"></img>
    </div>
    <div class="span8">
        <div class=jScroll_bboard >
            <table class=list-box-table>
                <%# @pset_instances.each_slice(3) do |next_3| %>
                    <tr>
                        <%# 3.times do |i| %>
                            <td><%#= next_3[i].nil? ? "":(render :partial => 'pset_list_box', :object => next_3[i]) %></td>
                        <%# end %>
                    </tr>
                <%# end %>
            </table>
        </div>
    </div>
</div>
======= -->

<!--<div class="row-fluid">
  <%#= render 'student_info' %>
  <%#= image_tag("maths_genius.png", :class => "badge", :size => "68x68", :alt => " You won this Badge for doing all Problem Sets ") unless @is_all_blue = true %>
  
  <h3 style="display:inline-block;">Learning</h3>
  <ul class="breadcrumb">
    <li><b>6th Grade</b><span class="divider">&amp;</span></li>
    <li class=active>Overview</li>
  </ul>
  
</div>-->
<div id='shelf'>
  <ul>
    <li><%= link_to (image_tag @student.image.url(:thumb)), edit_student_path, :remote => true  %><%= link_to 'Account',  edit_student_path, :remote => true, :class => 'plate' %></li>
    <li><div id='points'><%= number_with_delimiter(@student.points) %></div><a class='plate' style='margin-top:7px'>Points</a></li>
    <% @badges.each do |badge|%>
      <li><%= image_tag "#{badge.image}", :size => "60x60",:title => "#{badge.name}", :rel => 'tooltip'  %></li>
    <% end %>
  </ul>
</div>

<div style='float:left'>
  <div class='dotted-border-header'>
    <h4>Progress Center<h4>
  </div>
  <div class='dotted-border' style='min-height:1000px; width:252px'>
    <%= render 'progress_center' %>
  </div>
</div>
<div>
  <% @pset_instances.each do |i| %>
    <%= render :partial => 'pset_list_box', :object => i %>
  <% end %>
</div>
<script>
  $(function () {
    $('.teacher-class-col').jScrollPane();
    $('.badge_description').tooltip({title: "#{badge.name}"});
  })
</script>

