
<!--<div class="row-fluid">
  <%= render 'student_info' %>
  <%= image_tag("maths_genius.png", :class => "badge", :size => "68x68", :alt => " You won this Badge for doing all Problem Sets ") unless @is_all_blue = true %>
  
  <h3 style="display:inline-block;">Learning</h3>
  <ul class="breadcrumb">
    <li><b>6th Grade</b><span class="divider">&amp;</span></li>
    <li class=active>Overview</li>
  </ul>
  
</div>-->

<%= render 'shared/shelf', :@student => current_user %>
<div style='float:left'>
  <div class='dotted-border-header'>
    <h4>Progress Center<h4>
  </div>
  <div class='dotted-border' style='height:1000px; width:252px'>
    <%= render 'progress_center' %>
  </div>
</div>
<script>dbord();</script>
<div>
  <% @pset_instances.each do |i| %>
    <%= render :partial => 'pset_list_box', :object => i %>
  <% end %>
</div>
