<tr id="topic_<%= topic.id %>">
	<td><%= link_to topic.title, user_topic_path(user, topic, classroom_id: classroom_id) %></td>
	<td><%= topic.user.name %></td>
	<td><%= topic.comments.size %></td>
	<% if topic.user_id = current_user.id %>
		<td class='span2'><%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_user_topic_path(user, topic), remote: :true %>
			<%= link_to raw('<i class="icon-remove icon-white"></i>'), user_topic_path(user, topic), method: :delete, remote: :true %></td>
	<% end %>
</tr>