<tr id="topic_<%= topic.id %>">
	<td><%= link_to topic.title, user_topic_path(user, topic, classroom_id: classroom_id) %></td>
	<td><%= topic.user.name %></td>
	<td><%= topic.comments.size %></td>
	<% if topic.user_id = current_user.id %>
		<td><%= link_to "Edit", edit_user_topic_path(user, topic), remote: :true %></td>
		<td><%= link_to "Delete", user_topic_path(user, topic), method: :delete, remote: :true %></td>
	<% end %>
</tr>