<%= form_for [teacher, badge], :url => teacher_badges_path(teacher), :remote => :true do |f| %>
  	<% if badge.errors.any? %>
    	<div class="alert alert-error">
    		<div id="error_explanation">
    			<h5><%= pluralize(badge.errors.count, "error") %> prohibited this badge from being saved:</h5>
   				<ul>
   					<% badge.errors.full_messages.each do |msg| %>
     					<li><%= msg %></li>
     				<% end %>
   				</ul>
        </div>
		  </div>
    <% end %>

	<div class="field">
    	<%= f.label :name %>
    	<%= f.text_field :name %>
	</div>

	<div class="field">
    	<%= f.hidden_field :comment_id, :value => comment_id 	if defined? comment_id 	and !comment_id.blank? %>
    	<%= f.hidden_field :answer_id, 	:value => answer_id 	if defined? answer_id 	and !answer_id.blank? %>
    	<%= f.hidden_field :student_id, :value => student_id 	if defined? student_id 	and !student_id.blank? %>
	</div>

	<div class="actions">
      	<%= f.submit "done", :class => "btn" %>
	</div>
<% end %>