<%= form_tag finish_signup_path(@user), method: :post do |f| %>
	<div class = "field_block">
		<%= label_tag :name, "Name" %>
		<%= text_field_tag :name, nil, :placeholder=>"Your Name" %>
	</div>
	<div class="field_block">
		<%= label_tag "class_pass", "Class Password (Leave blank for demo class)", :placeholder => "Class Password that your Teacher gave you to Join" %>
		<%= password_field_tag "class_pass" %>
	</div>
	<div>
    	<%= hidden_field_tag :image %>
  	</div>
  
  	<div class="control-group">
    	<div class="controls">
      		<%= link_to image_tag("avatar1.jpg", :size => "60x60"),"#" ,:id=>"avatar1", :onclick=> 'select_image("avatar1.jpg")' %>
      		<%= link_to image_tag("avatar2.jpg", :size => "60x60"),"#" ,:id=>"avatar2", :onclick=> 'select_image("avatar2.jpg")' %>
      		<%= link_to image_tag("avatar3.jpg", :size => "60x60"),"#" ,:id=>"avatar3", :onclick=> 'select_image("avatar3.jpg")' %>
      		<%= link_to image_tag("avatar4.jpg", :size => "60x60"),"#" ,:id=>"avatar4", :onclick=> 'select_image("avatar4.jpg")' %>
    	</div>
  	</div>
  	<div class = "actions">
		<%= submit_tag "Finish", :class=>"button-blue" %>
	</div>
	
<% end %>
<script>
	function select_image(value) {
  		var image = value; 
  		size = value.length;
  		new_size = size - 4;
  		id = value.slice(0,new_size);
  		$("#"+id+" img").css("border","2px solid black");
  		$("#image").val(image);
	}
</script>