<%= form_for @user, :remote => true do |f| %>
  <div class=row-fluid>
    <div class=formfield>
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "Name" %> <span id="user_name_e"></span>
    </div>

    <div class=formfield>
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder=>"Email" %> <span id="user_email_e"></span>
    </div>

    <div class=formfield>
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => "Password" %> <span id="user_password_e"></span>
    </div>

    <div class=formfield>
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirmation" %> <span id="user_password_confirmation_e"></span>
    </div>
  </div>
  <div class=row-fluid>
    <%= f.submit "Sign Up!", :class => "btn btn-large btn-success", :id => "register-email" %>
  </div>
<% end %>
