<div class="modal hide fade" id="SignUp" style="font-family:SansSerif;">
    <div class="row-fluid">
        <div class="modal-header">
            <img src="/assets/Home/signup_bar.png" style="width:100%">
        </div>
        
        <div class="modal-body">
            <div class="row-fluid">
                <div id="Sign_up_errors">
                  <!--   <%# if flash[:error] %>
                        <div class="form_error">
                            <%#= flash[:error] %>
                        </div>
                    <%# end %> -->
                </div>
                <div class="span12">
                    <div class="row-fluid">
                        <%= link_to image_tag("student_homepage.png", :size => "150x80"),"#", :class => 'user_sel', :id=>"Student", :onclick=> 'select_type("Student")' %>
                        <%= link_to image_tag("teacher_homepage.png", :size => "150x80"),"#", :class => 'user_sel', :id=>"Teacher", :onclick=> 'select_type("Teacher")' %>
                        <%= link_to image_tag("coach_homepage.png", :size => "150x80"),"#", :class => 'user_sel', :id=>"Coach", :onclick=> 'select_type("Coach")' %>
                    </div>
                    <br>
                    <%= form_tag signup_user_path, method: :post do |f| %>
                        <div class = "field_block">
                            <div class="row-fluid">
                                <span class="error_block" id="signup_email_err"></span>
                                <div class="span3">
                                    <%= label_tag :signup_email, "Email" %>
                                </div>    
                                <div class="span4">    
                                    <%= text_field_tag :signup_email, flash[:email], :placeholder=>"Your Email" %>
                                </div>
                            </div>    
                        </div>
                        <div class = "field_block">
                            <div class="row-fluid">
                                <span class="error_block" id="signup_password_err"></span>
                                <div class="span3">
                                    <%= label_tag :signup_password, "Password" %>
                                </div>    
                                <div class="span4">    
                                    <%= password_field_tag :signup_password, flash[:password], :placeholder => "Your Password" %>    
                                </div>
                            </div>    
                        </div>
                        <%= hidden_field_tag "type" %>
                        <div class="span2">
                            <%= submit_tag "Sign Up", :class=>"button-blue pull-right" %>
                        </div>
                    <% end %>
                </div>
                <!-- <div class="span3">
                    <h3>OR</h3>
                    <h5>Sign_in Via:</h5>
                    <%#= link_to image_tag("google_logo_flat_print_small.png"), "/auth/google_oauth2" %>
                </div> -->
            </div>
        </div>
    </div>
</div>
<script>
    $("#Student img").css("border","8px solid purple");
    $("#Student img").css("border-radius","5px");
    function select_type(value) {
        var type = value;
        $("#type").val(type);
        $('.user_sel img').css('border-width','0px');
        $("#"+value+" img").css("border","8px solid purple");
        $("#"+value+" img").css("border-radius","5px");
    }

</script>