<div id=logo><%= current_user.name %></div>
<div class=row-fluid>

  <div class=span2>
    <div class='well sidebar-nav'>
      <ul class='nav nav-list'> 
        <li class='nav-header'>Your Quizzes</li>
        <li class="<%= (@shownquiz.nil?) ? "":"un" %>selected newquizbtn">
        <%= link_to "+ New Quiz", new_quiz_path %>
        </li>

        <% @quizzes.each do |quiz| %>
          <li class="<%= (@shownquiz == quiz) ? "":"un" %>selected">
          <%= link_to quiz.name, "##{quiz.idname}", 
                      "data-toggle" => "tab" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="span6 tab-content">
    <% if @quizzes.empty? %>
      <div class=""></div>
    <% else %>
      <% @quizzes.each do |quiz| %>
        <%= render :partial => 'quizzes/quiz', :object => quiz,
          :locals => { :shown => (@shownquiz == quiz) } %>
      <% end %>
    <% end %>
  </div>

  <div class=span4>
    <div id=problemhist>
      <%= render :partial => 'problemanswers/history', :locals => {:problemanswers => @problemanswers} %>
    </div>
  </div>

</div>

<% unless @quizzes.empty? %>
  <script>
    $(function () {
      $('a[href="#<%= @shownquiz.idname %>"]').tab('show');
    })
  </script>
<% end %>
