<% ptype = item %>

<% text = "Add Problem" %>
<% un = "un" %>
<% alt = "Included" %>
<% if !@ptypes_hash[ptype.id].nil? %>
  <% text = "Included" %>
  <% un = "" %>
  <% alt = "Add Problem" %>
<% end %>

<div class="list_box problem_list_box">
  <p><%= ptype.to_s %></p>

  <div class="link checkbox <%=un%>checked"
    data-alt="<%=alt%>" 
    data-name="problem_types[<%=ptype.id%>]"><%= text %></div>
</div>
