<div class=row-fluid>
  <div class="span3">
    <ul class=vnav>
      <li><h3>Grade 6</h3></li>
      <% @all_chapters.each do |chapter| %>
        <li class="<%= (chapter == @chapter) ? "active":""%>">
        <a href="#<%= chapter.to_s %>" data-toggle="tab"><%= chapter.to_s %></a>
        </li>
      <% end %>
      <li><button type="button" class="btn" id=clear-quiz>Clear Quiz</button></li>
      <li><%= submit_tag "Start Quiz", :class=>"btn-primary" %></li>
    </ul>
  </div>
  <div class="span5 tab-content" id="problemtabs">
    <% @all_chapters.each do |chapter| %>
      <ul class="tab-pane<%= (chapter == @chapter) ? " active":"" %>" id="<%= chapter.to_s %>" >
        <% chapter::PROBLEMS.each do |problem| %>
          <li>
            <%= check_box_tag problem.to_s, "1", (@chosen_probs.include? problem) %>
            <%= label_tag problem.to_s, problem.type %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="span4">
    <ul id="curquiz">
      <li><h3>Selected Problems</h3></li>
      <% @chosen_probs.each do |problem| %>
        <li class=quizelt><%= problem.to_s.split("::")[1] %></li>
      <% end %>
    </ul>
  </div>
</div>
<script>
  $(function () {
    $('a[href="#<%= @chapter.to_s %>"]').tab('show');
  })
</script>
