<div class="modal" id="logIn" style="display:none;"> <%# class=hide get's overridden by display-block status %>
  <div class="modal-header">
    Log In
  </div>
  <div class="modal-body" style="font-family:SansSerif">
    <%= form_for(:session, {:url => sessions_path, :html => {:class => "signin"}, :remote => true}) do |f| %>
      <div class = "field">
        <%= f.text_field :email, :placeholder=>"Email" %>
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>
      <div class = "actions">
        <%= f.submit "Sign in", :class=>"btn-primary" %>
        <%= f.submit "Register", :class=>"btn-primary", :disabled=>"true" %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
