<div class="modal fade" id="logInModal" tabindex="-1" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <img src="/assets/Home/login_bar.png" style="width:100%">
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="log_in_errors">
                </div>
                <div class="span8">
                    <%= form_tag signin_path, remote: :true do |f| %>
                    <div class = "field_block">
                        <div class="row-fluid">
                            <span class="error_block" id="login_email_err"></span>
                            <div class="span3">
                                <%= label_tag "login_email", "Email" %>
                            </div>    
                            <div class="span4">    
                                <%= text_field_tag :login_email, flash[:email], :placeholder=>"Your Email" %>
                            </div>
                        </div>    
                    </div>
                    <div class = "field_block">
                        <div class="row-fluid">
                            <span class="error_block" id="login_password_err"></span>
                            <div class="span3">
                                <%= label_tag "login_password", "Password" %>
                            </div>    
                            <div class="span4">    
                                <%= password_field_tag "login_password", flash[:password], :placeholder => "Your Password" %>    
                            </div>
                        </div>    
                    </div>
                    <div class="span2">
                        <%= submit_tag "Sign in", :class=>"button-blue" %>
                    </div>
                    <% end %>
                </div>
                <!--<div class="span3">
                    <h3>OR</h3>
                    <h5>Sign_in Via:</h5>
                    <%#= link_to image_tag("google_logo_flat_print_small.png"), "/auth/google_oauth2" %>
                </div>-->
            </div>
        </div>
    </div>
</div>
</div>