<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if signed_in? %>
      <li><%= link_to "Profile", user_path(current_user) %></li>
    <% end %>
    <li><%= link_to "Make Quiz", :controller => :problem, :action => :choose %></li>
    <li><%= link_to "Start Quiz", root_path %></li>
  </ul>
  <%= render 'shared/signin' %>
</nav>
