<div id="nav">
<nav>
  <ul>
  <% if signed_in? %>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Make Quiz", :controller => :problem, :action => :choose %></li>
    <li><%= link_to "Start Quiz", quiz_path %></li>
    <li><%= link_to "My Profile", user_path(current_user) %></li>
    <li><%= link_to "Sign Out", signout_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Features", features_path %></li>
    <li><%= link_to "About Us", team_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Sign In", signinpage_path %></li>
  <% end %>
  </ul>
</nav>
</div>
