<div class='perfect-shapes'>
<%= render 'shared/perfect_shape', :shape => 1 %>
<%= render 'shared/perfect_shape', :shape => 2 %>
<%= render 'shared/perfect_shape', :shape => 3 %>
<%= render 'shared/perfect_shape', :shape => 4 %>
<%= render 'shared/perfect_shape', :shape => 5 %>
</div>