<%@changedPoints = 0%>
<div id='bigshelf'>
<div class='shelf' id='shelf_0'>
<<<<<<< HEAD
  <ul class='shelf_ul'>
    <li class='shelf_li'>
      <%= link_to (image_tag ("#{@student.image}"), :size => "70x70"), edit_student_path, :remote => true unless @student.image.blank? %>
      <%=  link_to (image_tag ("default_70x70.png"), :size => "70x70"), edit_student_path, :remote => true if @student.image.blank?%>
      <%= link_to 'Account',  edit_student_path, :remote => true, :class => 'plate' %></li>
    <li class='shelf_li'><div id='points'><%= render  :partial => 'students/student_points' %></div><a class='plate' style='margin-top:7px'>Points</a></li>




    <li class='shelf_li'> 
      <div class="btn-group"> 
   		   <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" >
    	    <%= "Notifications"  %>
          <span class="caret"></span>
      	 </button>
      	<div id='news'><%= render  :partial => 'students/news_feeds' %></div>    	
      </div>
  	</li>


    <li class='shelf_li'>
      <div id="get_badge">
        <%= render :partial => 'students/badge'%>
      </div>
    </li>

=======
  <ul>
    <li><%= link_to (image_tag @student.image.url(:thumb)), edit_student_path, :remote => true  %><%= link_to 'Account',  edit_student_path, :remote => true, :class => 'plate' %></li>
    <li><div id='points'><%= number_with_delimiter(@student.points) %></div><a class='plate' style='margin-top:7px'>Points</a></li>

<!-- Remove the styling when li & ul are given id's -->
<li><% (current_user.badges).each do |badge| %>
    <p class = "<%= badge.badge_key %> badges"></p>  
<% end %><a class='plate' style='margin-top:44px'>Badges</a></li>
<li><% (current_user.badges).each do |badge| %>
    <p class = "<%= badge.badge_key %> badgesbw"></p>  
<% end %><a class='plate' style='margin-top:44px'>Badges</a></li>
>>>>>>> fb74030d187efa1242117dce2e40ee67948e596d
  </ul>

 

</div>
</div>
<script>
  shelf_do();
  badges_look();
</script>