<%@changedPoints = 0%>

<div id='bigshelf' style='position:relative'>
    <div class='shelf' id='shelf_0'>
        <ul class='shelf_ul'>
            <li class='shelf_li' id='account'>
                <% unless @student.image.blank? %>
                    <% if @student.image[@student.image.length-4, 4]=='.jpg' %>
                        <%= image_tag @student.image, :size => '70x70'  %>
                    <%else%>
                        <%= link_to (content_tag :i, '', :class => ('st_img_2 char ' + @student.image)), student_path(@student.id)%>
                    <%end%>
                <%else%>
                    <%=  link_to (image_tag ("default_70x70.png"), :size => "70x70", :class => "st_img"), student_path(@student.id) if @student.image.blank?%>
                <%end%>
                <%= link_to 'Account',  student_path(@student.id), :class => 'plate' %>
            </li>
            <li class='shelf_li'>
                <div id='points'>
                    <%= render  :partial => 'students/student_points' %>
                </div>
                <a class='plate' style='margin-top:7px'>Points</a>
            </li>
            <li class='shelf_li'>
                <div class="btn-group" style='margin-left:-15px; width:135%'>
                    <!-- <button class="btn btn-success dropdown-toggle dropdown-toggle2" data-toggle="dropdown" > -->
                    <%= link_to "", student_notifications_path(@student), :class => "btn btn-success  dropdown-toggle2", :id => "notifications", :data => {:toggle => "dropdown", :target => "#"}, remote: :true %><div id="student_bubble"></div>
                    <span class="caret" ></span>
                    <ul id='news' class="dropdown-menu" role="menu">
                        <%= render  "students/notifications" %>
                    </ul>
                </div>
            </li>
            <%- ["tetrahedron", "cube", "octahedron", "dodecahedron", "icosahedron"].each_with_index do |_shape, _index| -%>
                <%- _index += 1 -%>
                <li class="shelf_li">
                    <%= render "shared/badge_2", :level => _index, :shape_name => _shape, :student => @student, :plate_class => "plate", :ajax => false %>
                </li>
            <%- end -%>


            <li class='shelf_li'><a href="javascript:;" id="open-walkthrough"><img src='/assets/Help.png' style='border-radius:50%'/></a></li>
            <li class='shelf_li'><%=link_to raw("<img src='/assets/discussion.png'/>"), classroom_path(@classroom), :id => 'discussion_p'%></li>
        </ul>
        <div class='bot_bor'></div>
    </div>
    <div id="badgeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

</div>

<script>
    shelf_do();
</script>