<%@changedPoints = 0%>
<div id='bigshelf'>
<div class='shelf' id='shelf_0'>
  <ul class='shelf_ul'>
    <li class='shelf_li'><%#= link_to (image_tag @student.image.url(:thumb)), edit_student_path, :remote => true  %><%= link_to 'Account',  edit_student_path, :remote => true, :class => 'plate' %></li>
    <li class='shelf_li'><div id='points'><%= render  :partial => 'students/student_points' %></div><a class='plate' style='margin-top:7px'>Points</a></li>




    <li class='shelf_li'> 
      <div class="btn-group"> 
   		   <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" >
    	    <%= "Notifications"  %>
          <span class="caret"></span>
      	 </button>
      	<div id='news'><%= render  :partial => 'students/news_feeds' %></div>    	
      </div>
  	</li>


 
  <%= render :partial => 'students/badge'%>  
  </ul>

 

</div>
</div>
<script>
  shelf_do();
</script>