<% if signed_in? %>
  <%= link_to "Sign Out", signout_path, :method => :delete %>
<% else %>
  <%= form_for(:session, {:url => sessions_path, :html => {:class => "signin"}}) do |f| %>
    <div class = "field">
      <%= f.text_field :email, :placeholder=>"Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
    <div class = "actions">
      <%= f.submit "Sign in" %>
      <%= f.submit "Register" %>
    </div>
    <div class = "break"></div>
  <% end %>
  <% # TODO add signup link here? %>
<% end %>
