<% if signed_in? %>
  <%= link_to "Sign Out", signout_path, :method => :delete %>
<% else %>
  <%= form_for(:session, {:url => sessions_path, :html => {:class => "signin"}}) do |f| %>
    <div class = "field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class = "field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class = "actions">
      <label></label>
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
  <% # TODO add signup link here? %>
<% end %>
