<%= render partial: 'problem_sets/stats' %>

<div class="row-fluid problem_body">
  <div class="problem_name">
    <h2><%= @stat.problem_type.to_s %></h2>
    <ul class="pull-right horizontal">
      <% if @problem.is_a? QuestionWithExplanation %>
        <li>
          <%= link_to "See Explanation", explain_problem_path(@answer.problem_id), :class => "pull-right button-blue" %>
        </li>
      <% end %>

      <li>
        <%= submit_tag "Try Another", :class => 'pull-right button-blue' %>
      </li>
    </ul>
  </div>

  <div class='problem answer'>
    <% if flash[:last_correct] == false %>
    <% end %>

    <%= hidden_field_tag "shownp", (@problemanswer && @problemanswer.notepad) %>

    <% @problem.text.each do |elt| %>
       <%= render partial: 'answers/tohtml/corrected_problem_elt', 
                  object: elt, 
                  locals: {partial_dir: 'answers'} %>
    <% end %>
  </div>
</div>

<div class='row-fluid calculations'>
  <h3>Calculations</h3>
  <%= render partial: 'problems/side_notepad.html.erb' %>
</div>
