<%= render "problem_sets/progress_bar/#{@stat.problem_status}" %>
<%= render 'problem_sets/stats' %>

<div class="row-fluid problem_body">
  <div class="problem_name">
    <h2 class="<%= @answer.correct ? "":"in" %>correct">
      <%= @stat.problem_type.to_s %>
    </h2>

    <ul class="pull-right horizontal">
      <% if @problem.is_a? QuestionWithExplanation %>
        <li>
          <%= link_to "See Explanation", explain_problem_path(@answer.problem_id), 
              :remote => true, :class => "pull-right button-blue", :id => "see_explanation" %>
        </li>
      <% end %>

      <li>
        <%= link_to "Try Another",
                    problem_set_do_path(:name => @instance.problem_set.id, :pid => @stat.problem_type.id), 
                    { :remote => true, :class => 'pull-right button-blue', :id => 'try_another' } %>
      </li>
    </ul>
  </div>

  <div class='problem answer'>
    <%= render 'answers/answer_body' %>
  </div>
</div>

<div class='row-fluid calculations'>
  <%= render partial: 'problems/side_notepad.html.erb' %>
</div>
