<h2>Quiz</h2>
<%= link_to_function "", 'hideProblem()', :class => 'pull-right exit_qu', :style=>'z-index:30;' %>
<div class='row-fluid problem_body'>
    <%= @counter += 1 %><%= " of " %> <%= @quiz.quiz_problems.count %>
    <%= form_tag finish_quiz_problem_path(@quiz, @quiz_instance), method: :post, remote: :true, autocomplete: :off do %>
        <%= hidden_field_tag 'stat_id', @stat.id.to_s %>
        <%= hidden_field_tag 'problem_id', @problem.id %>
        <div class='problem answer'>
            <%= hidden_field_tag "shownp", (@problemanswer && @problemanswer.notepad) %>
            <% @problem.text.each do |elt| %>
                <%= render partial: 'answers/tohtml/quiz_problem_elt', 
                            object: elt, 
                            locals: {partial_dir: 'answers'} %>
            <% end %>
        </div>
        <div class"row-fluid">
            <%= link_to "Previous Problem", do_quiz_problem_path(@quiz, @quiz_instance, :c => (@counter - 2 )), :class => 'button-blue pull-left' %>
            <%= submit_tag "Update", :class => 'button-blue' %>
            <%= link_to "Next Problem", do_quiz_problem_path(@quiz, @quiz_instance, :c => @counter), :class => 'button-blue'  %>
        </div>
    <% end %>
</div>
<div class='row-fluid calculations'>
    <% if @answer.notepad == "false" %>
        <%= render partial: 'problems/side_notepad.html.erb' %>
    <% else %>
        <%= render partial: 'problems/side_notepad.html.erb', :@answer => @answer %>
    <% end %>
</div>
