<div id=about>
  <div class=row-fluid>
    <div class=span3>
      <div class='well sidebar-nav'>
        <ul class='nav nav-list'>
          <li class=nav-header>About</li>
          <li><%= link_to "Team",    "#team",        "data-toggle" => "tab" %></li>
          <li><%= link_to "Contact", "#contact",     "data-toggle" => "tab" %></li>
          <li><%= link_to "Thanks",  "#acknowledge", "data-toggle" => "tab" %></li>
          <li><%= link_to "Blog",    "http://blog.smartergrades.com" %></li>
        </ul>
      </div>
    </div>

    <div class=span9>
      <div class='tab-content'>

        <div class=tab-pane id=team>
          <%= render :partial => 'pages/team' %>
        </div>

        <div class=tab-pane id=contact>
          <%= render :partial => 'pages/contact' %>
        </div>

        <div class=tab-pane id=acknowledge>
          <%= render :partial => 'pages/acknowledge' %>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('a[href="#team"]').tab('show');
  })
</script>
