<div id="nav">
<nav>
  <ul>
  <% if signed_in? %>
    <li><%= link_to "My Profile", user_path(current_user) %></li>
    <li><%= link_to "Make Quiz", :controller => :problem, :action => :choose %></li>
    <li><%= link_to "Start Quiz", quiz_path %></li>
    <li><%= link_to "Sign Out", signout_path, :method => :delete %></li>
  <% else if fastnav? %>
    <li><%= link_to "Home", "#", :id=>'homelink', :class => 'selected' %></li>
    <li><%= link_to "Features", "#", :id=>'featureslink' %></li>
    <li><%= link_to "About Us", "#", :id=>'aboutlink' %></li>
    <li><%= link_to "Sign In", "#", :id=>'signinlink' %></li>
  <% else %>
  <% end %>
  </ul>
</nav>
</div>
