<div id=home class=staticpage>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30557946-1']);
    _gaq.push(['_setDomainName', 'smartergrades.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

  </script>
  <div class=row>
    <div class="span6"> 
      <div class='section-header logo'>
        The smartest way to learn maths
      </div>
      <ul class=home>
        <li><b class=green>Identify</b> your weaknesses and <b class=blue>master</b> them</li>
        <li>Schedules your studies - <b class=green>learn more</b> in <b class=blue>less time</b></li>
        <li>Learn with the <b class=green>same tools</b> you use in <b class=blue>class</b></li>
        <li><b class=green>Unlimited questions</b> on each topic in <b class=blue>NCERT</b></li>
      </ul>
      <hr>
      <ul class=home>
        <li>Regular feedback for parents</li>
        <li>Classroom discussion with your peers</li>
        <li>No flash or plugins required</li>
        <li>Designed to work on broadband and dial-up</li>
      </ul>
    </div>

    <div class="span6">
      <div id=slideshow>
        <div id="slideNo" style="display:none">0</div>
        <div id="slideTimer" style="display:none">6</div>
        <div id="intervalID" style="display:none"></div>

        <div id=slides >
          <div class="slide well selected">
            <div>
              <h2>SmartGrade:</h2>
              Our SmartGrade tells you how well you will do on your exams.  Never worry again, and study exactly what you need!
            </div>
            <%= image_tag "profilepage-450-260.png" %>
          </div>
          <div class="slide well">
            <div>
              <h2>Expansive Tool Kits:</h2>
              Our questions teach students with online versions of the same tools they have available in class.  It's not just multiple choice!
            </div>
            <%= image_tag "geometry.png" %>
          </div>
          <div class="slide well">
            <div>
              <h2>Interactive Explanations</h2>
              We teach students how to break down each problem into simple steps.  Then we help them understand each step.
            </div>
            <%= image_tag "explanation.png" %>
          </div>
          <div class="slide well">
            <div>
              <h2>Other Apps</h2>
              We try and make the learning process engaging and more like an exam by providing students with tools such as our scratchpad.
            </div>
            <%= image_tag "notepad.png" %>
          </div>
        </div>

        <div id=nextslide class=slidebutton>
          <%= image_tag "nextarrow.png" %>
        </div>
        <div id=prevslide class=slidebutton>
          <%= image_tag "prevarrow.png" %>
        </div>
      </div>
    </div>
  </div>
  <div id=snbtns>
    <div class="g-plusone" data-annotation="inline" data-width="120"></div>
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
    </script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.smartergrades.com" data-via="smartergrades">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true">
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>
</div>
<script>
  $(function () {
    startShow();
  });
</script>
