<div id=home class=staticpage>
  <div class=row>
    <div class="span6"> 
      <div class='section-header logo'>
        The smartest way to learn maths
      </div>
      <ul class=home>
        <li><b class=green>Identify</b> your weaknesses and <b class=blue>master</b> them</li>
        <li>Schedules your studies - <b class=green>learn more</b> in <b class=blue>less time</b></li>
        <li>Learn with the <b class=green>same tools</b> you use in <b class=blue>class</b></li>
        <li><b class=green>Unlimited questions</b> on each topic in <b class=blue>NCERT</b></li>
      </ul>
      <hr>
      <ul class=home>
        <li>Regular feedback for parents</li>
        <li>Classroom discussion with your peers</li>
        <li>No flash or plugins required</li>
        <li>Designed to work on broadband and dial-up</li>
      </ul>
    </div>

    <div class="span6">
      <div id=slideshow>
        <div id="slideNo" style="display:none">0</div>
        <div id="slideTimer" style="display:none">6</div>
        <div id="intervalID" style="display:none"></div>

        <div id=slides >
          <div class="slide well selected">
            <div>
              <h2>SmartScore:</h2>
              Our SmartScore tells you how well you will do on your exams.  Never worry again, and study exactly what you need!
            </div>
            <%= image_tag "smartscore_450_260.png" %>
          </div>
          <div class="slide well">
            <div>
              <h2>Expansive Tool Kits:</h2>
              Our questions teach students with online versions of the same tools they have available in class.  It's not just multiple choice!
            </div>
            <%= image_tag "drawtoolsexnew_450_260.png" %>
          </div>
          <div class="slide well">
            <div>
              <h2>Interactive Explanations</h2>
              We teach students how to break down each problem into simple steps.  Then we help them understand each step.
            </div>
            <%= image_tag "explaination_cricket.png" %>
          </div>
        </div>

        <div id=nextslide class=slidebutton>
          <%= image_tag "nextarrow.png" %>
        </div>
        <div id=prevslide class=slidebutton>
          <%= image_tag "prevarrow.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    startShow();
  });
</script>
