
<div id=home class=staticpage>
  <div class=row>

  <div class="span6"> 
    <h4>Login</h4>
    <div id="log_in_form" style="font-family:SansSerif">
      <div id="log_in_errors">
      </div>
      <%= form_for(:session, {:url => signin_path, :html => {:class => "signin"}, :remote => true}) do |f| %>
        <div class = "field">
          <%= f.text_field :email, :placeholder=>"Email" %>
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
        <br></br>
        <div class = "actions">
          <%= f.submit "Sign in", :class=>"button-blue" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="span6"> 
    <h4>Register</h4>
    <div id="register_form" style="font-family:SansSerif">
      <div id="register_errors">
      </div>
      <%= form_tag register_path, :remote => true do |f| %>
        <div class = "field_block">
          <%= label_tag "reg_name", "Name" %>
          <%= text_field_tag "reg_name", nil, :placeholder=>"Akshat Aggarwal" %>
        </div>
        <div class = "field_block">
          <%= label_tag "reg_email", "Email or unique ID" %>
          <%= text_field_tag "reg_email", nil, :placeholder=>"akshat777@gmail.com" %>
        </div>
        <div class = "field_block">
          <%= label_tag "reg_password", "Password" %>
          <%= password_field_tag "reg_password", nil, :placeholder => "*******" %>
        </div>
        <div class = "field_block">
          <%= label_tag "reg_password_confirmation", "Password Confirmation" %>
          <%= password_field_tag "reg_password_confirmation", nil, :placeholder => "*******" %>
        </div>
        <div class="field_block">
          <%= label_tag "class_pass", "Password for VV class 6" %>
          <%= password_field_tag "class_pass" %>
        </div>
        <div class = "actions">
          <%= submit_tag "Register", :class=>"button-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
