
<%= content_for :head do %>
  <%= javascript_include_tag "datagr.js" %>
<% end %>
<div id=tally style="position:relative" height=350 width=350>

<canvas id=datacanvas style="border-style:solid; border-width:2px; background-color:white" height=350 width=350>
</canvas>
</div>

<table id=table>
  <tr>
    <td><%= hidden_field_tag('1', "Jan") %></td>
    <td><%= hidden_field_tag('2', "10") %></td>
  </tr>
  <tr>
    <td><%= hidden_field_tag('1', "Jan") %></td>
    <td><%= hidden_field_tag('2', "12") %></td>
  </tr>
  <tr>
    <td><%= hidden_field_tag('1', "Jan") %></td>
    <td><%= hidden_field_tag('2', "15") %></td>
  </tr>
  <tr>
    <td><%= hidden_field_tag('1', "Jan") %></td>
    <td><%= hidden_field_tag('2', "14") %></td>
  </tr>
</table>

<%= hidden_field_tag('edit', "edit") %>
<%= hidden_field_tag('divs', 10) %>
<%= hidden_field_tag('editdivs', true) %>
<%= hidden_field_tag('type', "tally") %>
