<div id="sitetitle">
  <%= link_to "Smarter Grades", root_path, :id => "logo" %>
</div>
<h1> "Features" </h1>
<div class="features"> 
  <div class="heading">
    <h2> "Unlimited Questions" </h2>
  </div> 
  <div class="desc">
    <p> "Smarter Grades provides maths students with an unending bank of questions of all types, to hone their skills on. These questions come from a wide variety of curricula and various sources in order to provide a holistic maths education to our students." </p>
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>

<div class="features"> 
  <div class="heading">
    <h2> "Not Just Multiple Choice" </h2>
  </div> 
  <div class="desc">
    <p> "Unlike most other testing websites, Smarter Grades doesn’t just have multiple choice questions. Since maths exams and tests usually do not give students a set of options to choose from, we feel that multiple choice question are neither good at explaining concepts, nor at preparing students for exams.marter Grades provides maths students with an unending bank of questions of all types, to hone their skills on. These questions come from a wide variety of curricula and various sources in order to provide a holistic maths education to our students." </p>
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>

<div class="features"> 
  <div class="heading">
    <h2> "Explaination Wherever Required" </h2>
  </div> 
  <div class="desc">
    <p> "Most of our questions also come with step by step explanations available to students when they get the question wrong. These explanations are not just a few lines of text, but prompt students at every step for pieces of vital information." </p>
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>


<div class="features"> 
  <div class="heading">
    <h2> "Geometry and Other Interactive Apps" </h2>
  </div> 
  <div class="desc">
    <p> "You can now do geometry and work with graphs online. Our interactive apps allow students to attempt geometry and coordinate geometry based questions online. These allow us to make the entire curriculum available to students on our website." </p> 
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>


<div class="features"> 
  <div class="heading">
    <h2> "Zeros in on Your Deeper Weaknesses" </h2>
  </div> 
  <div class="desc">
    <p> "If there is a gap in your understanding of integer addition, learning integer multiplication will be that much harder. Currently, other websites combat this by superficially giving students the formula to integer multiplication without making them work on the structural issues in their learning. We are different. We are looking to help students learn maths rather than just do well in their next exam." </p>
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>


<div class="features"> 
  <div class="heading">
    <h2> "Analytics" </h2>
  </div> 
  <div class="desc">
    <p> "Smarter Grades will store all the information gained through your usage of the website and present your progress to you through intuitive graphs." </p> 
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>


<div class="features"> 
  <div class="heading">
    <h2> "Smarter Quotient" </h2>
  </div> 
  <div class="desc">
    <p> "When you start a new test, our analytics algorithms give you a projected score for that test, your “Smarter Quotient.” This is based on your previous performances in similar tests as well as improvements others have made on our website over time. How your projected score changes will give a good indication of your progress." </p>
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>


<div class="features"> 
  <div class="heading">
    <h2> "Learning from Other Students" </h2>
  </div> 
  <div class="desc">
    <p> "Smarter Grades encourages interaction between students on our message boards and comments pages. We feel that students can learn a lot from their peers and others in their situation." </p> 
  </div>
  <div class="img">
  <%= image_tag "" %>
  </div>
</div>
