<div id="main-content" style="text-align:center; font-family:Courier">
    <div id="fb-root"></div>

    <section id="home" class="clearfix">
        <div class="actual_c">
        <%= render 'shared/home' %>
        </div>
        

    </section>
    <section id="how_it_helps" class="clearfix">
        <div class="actual_c">
        <%= render 'shared/how_it_helps' %>
        </div>
    </section>
    <section id="how_it_works" class="clearfix">
        <div class="actual_c">
        <%= render 'shared/how_it_works' %>
        </div>
    </section>
    <section id="try_page" class="clearfix">
        <div class="actual_c">
        <%= render 'shared/try_prob' %>
        </div>
    </section>
    <section id="about" class="clearfix">
        <div class="actual_c">
        <%= render 'shared/about' %>
        </div>
    </section>
    <section id="contact" class="clearfix">
        <div class="actual_c">
        <%= render 'contact' %>
        </div>
    </section>
    <footer>
        <a href="#site_logo"><img class="home_img" src="/assets/home_2.png"/></a>
        
        <a href="#how_it_helps"><img class="home_img" src="/assets/wand.png"/></a>
        <a href="#how_it_works"><img class="home_img" src="/assets/gear.png"/></a>
        <a href="#try_page"><span id='try_btn'>Try!</span></a>
        <a href="#about"><img class="home_img" src="/assets/team.png"/></a>
        <a href="#contact"><img class="home_img" src="/assets/contact.png"/></a>
        <h4 style="font-family:Courier">©<span class="blue_text">Smarter</span><span class="green_text">Grades</span> 2013</h4>
    </footer>
</div>

<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    $(document).ready(function(){
        $('footer a[href^="#"]').on('click',function (e) {
            e.preventDefault();
            var target = this.hash,
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });

        
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<%#= render :partial => 'shared/log_in' %>
<%#= render :partial => 'shared/register_modal' %>
<%#= render 'users/hidden_registration_forms' %>
  
