<!--<div id='home' class='static-page'>
    <div class='home2'>
        <div class="dotted-border">
          <%#= link_to_function "Register as a Teacher", "registerTeacher();", :class => 'button-blue centered' %>
          <br></br>
          <%#= link_to_function "Register as a Student", "registerStudent();", :class => 'button-blue centered' %>
      </div>
    </div>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items
    <div class="carousel-inner home_slide">
        <div class="active item">
            <div class='slide1 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                </div>
                <p>Learn Maths While Having Fun</p>
                <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
        <div class="item">
            <div class='slide2 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                </div>
                <p>Deepen your Learning</p>
                <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
        <div class="item">
            <div class='slide3 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                </div>
                <p>Get your basics right</p>
                <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel({interval:3000});
    </script>
    <div id="sbrowse">
        <p>Supported Browsers:</p>
        <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="/assets/chrome_i.png"></img></a>
        <a href="http://support.apple.com/kb/dl1531" target="_blank"><img src="/assets/safari.png"></img></a>
    </div>
<!--    <div id='home_slide'>
        <div class='slide1 slide_hm'>
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p>Learn Maths While Having Fun</p>
            <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
        <div class='slide2 slide_hm' style="display:none">
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p>Deepen your Learning</p>
            <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
        <div class='slide3 slide_hm' style="display:none">
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
            </div>
            <p>Get your basics rigth</p>
            <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
    </div>
    <br>
    <div class='home3' style="width:288px; margin-right:28px">
        <div class='testimonial'>
            <br/>
            <a>TESTIMONIAL</a>
        </div>
    </div>
    <div class='home3' style="margin-right:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class='home3'>
  <div class='dotted-border-header-black'>
      <p>TRY MORE SAMPLE PROBLEMS</p>
  </div>
  <div class="dotted-border">
    <%# @problem_types.each do |ptype| %>
      <p><%#= link_to ptype.name, problem_type_path(ptype.id) %></p>
    <%# end %>
    <p><%#= link_to "and more", root_path(:ptypes => "all"), remote: :true %></p>
  </div>
</div>
</div>-->
<div class='logsign'>
    
    
</div>

<!--<div id="logod">
    <ul>
        <%#= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "button-blue"%>

    </ul>
    <ul>
        <%#= link_to "LOG IN", "#logIn", "data-toggle"=>"modal", :class => "button-blue"%>
    </ul>
</div>-->
<!-- <div class="hpages">
    <div id="hpages_1">
        <%#= render "shared/logo" %>
        <div id="home_students">
            <img src="/assets/boy.png"/>
            <img src="/assets/girl.png"/>
        </div>
        <%#= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "sign_up_home"%>
        <div id="home_teachers">
            <img src="/assets/teacher.png"/>
            <img src="/assets/principal.png"/>
        </div>

    </div>
    <div style="text-align:center">

        <a class="how_work">How Does it Work?</a>
    </div>
    <div id="hpages_2">
        
    </div>
</div> -->
<div id="main-content" style="text-align:center">
    <section id="home" class="clearfix">
        <%= render "shared/logo" %>
        <div id="home_students">
            <img src="/assets/boy.png"/>
            <img src="/assets/girl.png"/>
        </div>
        <%= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "sign_up_home"%>
        <div id="home_teachers">
            <img src="/assets/teacher.png"/>
            <img src="/assets/principal.png"/>
        </div>

    </section>
    <section id="how_it_helps" class="clearfix">
        <div class="page_header_home">
            <h1 class="intro-text">SmarterGrades Lets</h1>
        </div>
        
        <!-- <a class="how_work">How Does it Work?</a> -->
        <ul class="nav nav-tabs" id="myTab" style="margin-top: 18px; padding-left: 180px;">
            <li class="active"><a href="#students">STUDENTS</a></li>
            <li><a href="#teachers">TEACHERS</a></li>
            <li><a href="#parents">PARENTS</a></li>
        </ul>
     
        <div class="tab-content">
            <div class="tab-pane active" id="students">
                <!-- left text -->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>HELPS YOU LEARN QUICKLY WHILE HAVING FUN</p>
                                some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text -->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>HELPS YOU LEARN QUICKLY WHILE HAVING FUN</p>
                            some text over here
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="teachers">
                <!-- left text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>ANALYSE YOUR STUDENTS PERFORMANCE</p>
                            some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>MAKE MULTIPLE PRIVATE CLASSES</p>
                            some text over here
                        </div>
                    </div>
                </div>
                <br>
                <!-- left text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>GIVE STUDENTS YOUR CUSTOMIZED PROBLEMS</p>
                            some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>ASSIGN YOUR STUDENTS QUIZZES</p>
                            some text over here
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="parents">
                <!-- left text -->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>ANALYSE YOUR KID's PERFORMANCE IN VARIOUS PROBLEMS</p>
                            some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text -->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>INTERACT WITH YOUR KID's TEACHER</p>
                            some text over here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="how_it_works" class="clearfix">
        <div class="page_header_home">
            <h1 class="intro-text">How SmarterGrades Works</h1>
        </div>
        
        <!-- <a class="how_work">How Does it Work?</a> -->
        <ul class="nav nav-tabs" id="myTab" style="margin-top: 18px; padding-left: 180px;">
            <li class="active"><a href="#students_works">STUDENTS</a></li>
            <li><a href="#teachers_works">TEACHERS</a></li>
            <li><a href="#parents_works">PARENTS</a></li>
        </ul>
     
        <div class="tab-content">
            <div class="tab-pane active" id="students_works">
                <div id="student_steps">
                    <span class="step">1</span>
                    <h2>Signup</h2>
                    <p>Quickly signup on SmarterGrades through a simple from, pay the amount via Google Wallet and get access to the world of subject questions with explanations.</p>
                    <%= image_tag "signup_form.png", :size => "500x500", :style =>"border: 1px solid #ccc" %>
                </div>
                <div id="student_steps">
                    <span class="step">2</span>
                    <h2>Learn</h2>
                    <p>After signup read about the Problem Sets that are assigned by your teacher. Start practising problems particular to the problem sets and problem types. You will be prompted whether you answer is right or wrong and each of these problems have explanations so that if you don't know how to do it you can learn it how from there. Happy Learning !!</p>
                    <h3>How your landing page looks</h3>
                    <%= image_tag "student_landing_page.png", :size => "700x700", :style =>"border: 1px solid #ccc" %><br><br>
                    <h3>How Problem looks</h3>
                    <%= image_tag "problem.png", :size => "700x700", :style =>"border: 1px solid #ccc" %>
                </div>
                <div id="student_steps">
                    <span class="step">3</span>
                    <h2>Earn Points and Badges</h2>
                    <p>You'll get Points and Badges for problems. Difficult the Problem Higher will be the Points. Even Get few points on wrong Answer. Badges will be distributed on some parameters and each badge has a level. Higher the level of Badge higher will be the increment of Points</p>
                    <%= image_tag "signup_form.png", :size => "500x500", :style =>"border: 1px solid #ccc" %>
                </div>
            </div>
            <div class="tab-pane" id="teachers_works">
                <!-- left text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>ANALYSE YOUR STUDENTS PERFORMANCE</p>
                            some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>MAKE MULTIPLE PRIVATE CLASSES</p>
                            some text over here
                        </div>
                    </div>
                </div>
                <br>
                <!-- left text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>GIVE STUDENTS YOUR CUSTOMIZED PROBLEMS</p>
                            some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text-->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>ASSIGN YOUR STUDENTS QUIZZES</p>
                            some text over here
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="parents_works">
                <!-- left text -->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                        <div class="span4">
                            <p>ANALYSE YOUR KID's PERFORMANCE IN VARIOUS PROBLEMS</p>
                            some text over here
                        </div>
                        <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                    </div>
                </div>
                <br>
                <!-- right text -->
                <div class="row-fluid">
                    <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                        <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                            <%#= image_tag "m2.jpg" %>
                        </div>
                        <div class="span4">
                            <p>INTERACT WITH YOUR KID's TEACHER</p>
                            some text over here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function scroll(element, parent){
        $(parent).animate({ scrollTop: $(element).offset().top - $(parent).offset().top }, { duration: 'slow', easing: 'swing'});
    }
    $(".how_work").click(function(){
        scroll(".how_work","#hpages_2");
    });
    // $('#myTab a:first').tab('show');
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>

<%= render :partial => 'shared/log_in' %>
<%= render :partial => 'shared/register_modal' %>
<%= render 'users/hidden_registration_forms' %>
