<div id=home>
  <div class=row>

  <div class="span6"> 
    <h2>Login</h2>
    <br/>
    <div id="log_in_errors">
      <% if flash[:error] %>
        <div class=form_error><%= flash[:error] %></div>
        <br/>
      <% end %>
    </div>
    <%= form_tag(signin_path) do |f| %>
      <div class = "field_block">
        <%= label_tag "login_email", "Email or Unique ID" %>
        <%= text_field_tag :login_email, flash[:email], :placeholder=>"akshat777@gmail.com" %>
      </div>
      <div class = "field_block">
        <%= label_tag "login_password", "Password" %>
        <%= password_field_tag "login_password", flash[:password], :placeholder => "*******" %>
      </div>
      <div class = "actions">
        <%= submit_tag "Sign in", :class=>"button-blue" %>
      </div>
    <% end %>
  </div>

  <div class="span6"> 
    <h2>Register</h2>
    <br/>
    <div id="register_errors">
    </div>
    <%= form_tag register_path, :remote => true do |f| %>
      <div class = "field_block">
        <%= label_tag "reg_name", "Name" %>
        <%= text_field_tag "reg_name", nil, :placeholder=>"Akshat Aggarwal" %>
      </div>
      <div class = "field_block">
        <%= label_tag "reg_email", "Email or unique ID" %>
        <%= text_field_tag "reg_email", nil, :placeholder=>"akshat777@gmail.com" %>
      </div>
      <div class = "field_block">
        <%= label_tag "reg_password", "Password" %>
        <%= password_field_tag "reg_password", nil, :placeholder => "*******" %>
      </div>
      <div class = "field_block">
        <%= label_tag "reg_password_confirmation", "Password Confirmation" %>
        <%= password_field_tag "reg_password_confirmation", nil, :placeholder => "*******" %>
      </div>
      <div class="field_block">
        <%= label_tag "class_pass", "Class Password" %>
        <%= password_field_tag "class_pass" %>
      </div>
      <div class = "actions">
        <%= submit_tag "Register", :class=>"button-blue" %>
      </div>
    <% end %>
  </div>
</div>
