<div id=home>
  <div class=row>

  <div class="span3"> 
    <h2>Login</h2>
    <div id="log_in_errors">
      <% if flash[:error] %>
        <div class=form_error><%= flash[:error] %></div>
      <% end %>
    </div>
    <%= form_tag(signin_path) do |f| %>
      <div class = "field_block">
        <%= label_tag "login_email", "Email or Unique ID" %>
        <%= text_field_tag :login_email, flash[:email], :placeholder=>"akshat777@gmail.com" %>
      </div>
      <div class = "field_block">
        <%= label_tag "login_password", "Password" %>
        <%= password_field_tag "login_password", flash[:password], :placeholder => "*******" %>
      </div>
      <div class = "actions">
        <%= submit_tag "Sign in", :class=>"button-blue" %>
      </div>
    <% end %>
  </div>

  <div class="span9"> 
    <div style='margin-left:40px;'>
      <%= link_to_function "Register as a Teacher", "registerTeacher();", :class => 'button-blue centered' %>
      <%= link_to_function "Register as a Student", "registerStudent();", :class => 'button-blue centered' %>
    </div>
    
  </div>
</div>
<div id='home' class='static-page'>
    <div class='home2'>
        <div class="dotted-border">
        </div>
    </div>
    <div id='home_slide'>
        <div class='slide1'>
            <img src="/assets/Home/slide1.png">
        </div>
    </div>
    <br>
    <div class='home3' style="width:288px; margin-right:28px">
        <div class='testimonial'>
            <br/>
            <a>TESTIMONIAL</a>
        </div>
    </div>
    <div class='home3' style="margin-right:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class='home3'>
  <div class='dotted-border-header-black'>
      <p>TRY MORE SAMPLE PROBLEMS</p>
  </div>
  <div class="dotted-border">
    <% @problem_types.each do |ptype| %>
      <p><%= link_to ptype.name %></p>

    <% end %>
  </div>
</div>
</div>
<%= render 'users/hidden_registration_forms' %>
