<div id="main-content" style="text-align:center;">
    <section id="home" class="clearfix">
        <%= render 'shared/home' %>
    </section>
    <section id="how_it_helps" class="clearfix">
        <%= render 'shared/how_it_helps' %>
    </section>
    <section id="how_it_works" class="clearfix">
        <%= render 'shared/how_it_works' %>
    </section>
    <footer>
        <a href="#home">Home |</a>
        <a href="#about">About |</a>
        <a href="#how_it_helps">How it Helps |</a>
        <a href="#how_it_works">How it works |</a>
        <a href="#contact">Contact</a>
        <h4><span>Copyright ©</span><span class="blue_text">Smarter</span><span class="green_text">Grades</span> 2013</h4>
    </footer>
</div>

<script>
    // function scroll(element, parent){
    //     $(parent).animate({ scrollTop: $(element).offset().top - $(parent).offset().top }, { duration: 'slow', easing: 'swing'});
    // }
    // $(".how_work").click(function(){
    //     scroll(".how_work","#hpages_2");
    // });
    // // $('#myTab a:first').tab('show');
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash,
        $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
});
</script>

          
<%= render :partial => 'shared/log_in' %>
<%= render :partial => 'shared/register_modal' %>
<%= render 'users/hidden_registration_forms' %>

<!--<div id='home' class='static-page'>
    <div class='home2'>
        <div class="dotted-border">
          <%#= link_to_function "Register as a Teacher", "registerTeacher();", :class => 'button-blue centered' %>
          <br></br>
          <%#= link_to_function "Register as a Student", "registerStudent();", :class => 'button-blue centered' %>
          <br></br>
          <%#= link_to_function "Register as a Coach", "registerCoach();", :class => 'button-blue centered' %>
    
      </div>
    </div>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items
    <div class="carousel-inner home_slide">
        <div class="active item">
            <div class='slide1 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                </div>
                <p>Learn Maths While Having Fun</p>
                <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
        <div class="item">
            <div class='slide2 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                </div>
                <p>Deepen your Learning</p>
                <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
        <div class="item">
            <div class='slide3 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                </div>
                <p>Get your basics right</p>
                <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel({interval:3000});
    </script>
    <div id="sbrowse">
        <p>Supported Browsers:</p>
        <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="/assets/chrome_i.png"></img></a>
        <a href="http://support.apple.com/kb/dl1531" target="_blank"><img src="/assets/safari.png"></img></a>
    </div>
<!--    <div id='home_slide'>
        <div class='slide1 slide_hm'>
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p>Learn Maths While Having Fun</p>
            <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
        <div class='slide2 slide_hm' style="display:none">
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p>Deepen your Learning</p>
            <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
        <div class='slide3 slide_hm' style="display:none">
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
            </div>
            <p>Get your basics rigth</p>
            <%#= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
    </div>
    <br>
    <div class='home3' style="width:288px; margin-right:28px">
        <div class='testimonial'>
            <br/>
            <a>TESTIMONIAL</a>
        </div>
    </div>
    <div class='home3' style="margin-right:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class='home3'>
  <div class='dotted-border-header-black'>
      <p>TRY MORE SAMPLE PROBLEMS</p>
  </div>
  <div class="dotted-border">
    <%# @problem_types.each do |ptype| %>
      <p><%#= link_to ptype.name, problem_type_path(ptype.id) %></p>
    <%# end %>
    <p><%#= link_to "and more", root_path(:ptypes => "all"), remote: :true %></p>
  </div>
</div>
</div>-->
<div class='logsign'>
    
    
</div>

<!--<div id="logod">
    <ul>
        <%#= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "button-blue"%>

    </ul>
    <ul>
        <%#= link_to "LOG IN", "#logIn", "data-toggle"=>"modal", :class => "button-blue"%>
    </ul>
</div>-->
<!-- <div class="hpages">
    <div id="hpages_1">
        <%#= render "shared/logo" %>
        <div id="home_students">
            <img src="/assets/boy.png"/>
            <img src="/assets/girl.png"/>
        </div>
        <%#= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "sign_up_home"%>
        <div id="home_teachers">
            <img src="/assets/teacher.png"/>
            <img src="/assets/principal.png"/>
        </div>

    </div>
    <div style="text-align:center">

        <a class="how_work">How Does it Work?</a>
    </div>
    <div id="hpages_2">
        
    </div>
</div> -->