<div id='home' class='static-page'>
    <!--<div class='home2'>
        <div class="dotted-border">
          <%= link_to_function "Register as a Teacher", "registerTeacher();", :class => 'button-blue centered' %>
          <br></br>
          <%= link_to_function "Register as a Student", "registerStudent();", :class => 'button-blue centered' %>
      </div>
  </div>-->
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner home_slide">
        <div class="active item">
            <div class='slide1 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                </div>
                <p>Learn Maths While Having Fun</p>
                <%= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
        <div class="item">
            <div class='slide2 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                </div>
                <p>Deepen your Learning</p>
                <%= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
        <div class="item">
            <div class='slide3 slide_hm'>
                <img class='hm_sl' src="/assets/Home/slide1.png">
                <div class='slide_move'>
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb' src="/assets/Home/box.png">
                    <img class='home_tb home_tick' src="/assets/Home/tick.png">
                </div>
                <p>Get your basics right</p>
                <%= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel({interval:3000});
    </script>
<!--    <div id='home_slide'>
        <div class='slide1 slide_hm'>
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p>Learn Maths While Having Fun</p>
            <%= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
        <div class='slide2 slide_hm' style="display:none">
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p>Deepen your Learning</p>
            <%= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
        <div class='slide3 slide_hm' style="display:none">
            <img class='hm_sl' src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
            </div>
            <p>Get your basics rigth</p>
            <%= link_to_function "", "registerStudent();", :class => 'get_started_button' %>
        </div>
    </div>-->
    <br>
    <!--<div class='home3' style="width:288px; margin-right:28px">
        <div class='testimonial'>
            <br/>
            <a>TESTIMONIAL</a>
        </div>
    </div>
    <div class='home3' style="margin-right:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class='home3'>
  <div class='dotted-border-header-black'>
      <p>TRY MORE SAMPLE PROBLEMS</p>
  </div>
  <div class="dotted-border">
    <% @problem_types.each do |ptype| %>
      <p><%= link_to ptype.name, problem_type_path(ptype.id) %></p>
    <% end %>
    <p><%= link_to "and more", root_path(:ptypes => "all"), remote: :true %></p>
  </div>
</div>-->
</div>
<%= render 'users/hidden_registration_forms' %>
