<div class="multifield">
  <%=hidden_field_tag(addingfield.name, "")%>
  <div id=<%="ladding_#{addingfield.name}"%>>
  </div>
  <script>
    addingForm("<%=addingfield.name%>", "<%=addingfield.num1%>", "<%=addingfield.num2%>", "<%=addingfield.sign%>");
  </script>
</div>
