<div class="multifield">
  <canvas id=<%='datacanvas_'+bargraphfield.name%> height=350 width=400>
  </canvas>
  <%= hidden_field_tag('edit', bargraphfield.edit) %>
  <%= hidden_field_tag('type', "basicbar") %>
  <%= hidden_field_tag('editdivs', bargraphfield.editdivs) %>
  <%= hidden_field_tag('divs', bargraphfield.divs) %>
  <table id=<%='table_'+bargraphfield.name%> style="display:none">
    <% bargraphfield.obs.length.times do |row| %>
      <tr>
        <td><%= hidden_field_tag("#{bargraphfield.name}_#{row}_name", bargraphfield.obs[row]) %></td>
        <td><%= hidden_field_tag("#{bargraphfield.name}_#{row}", bargraphfield.init[row]) %></td>
      </tr>
    <% end %>
  </table>
  <script>
    setUpDataGr("datacanvas_<%=bargraphfield.name%>", "table_<%=bargraphfield.name%>");
  </script>
</div>
