<div class="multifield">
	<%shape = drawshape.shape %>
	<%len= drawshape.len.to_i %>
    <%bre= drawshape.bre.to_i %>
    <%length = drawshape.length.to_i%>
    <%breadth = drawshape.breadth.to_i%>
    <%startx = drawshape.startx.to_i%>
    <%starty = drawshape.starty.to_i%>

<canvas id="myCanvas" onclick="update(event,'<%=shape %>',<%=len%>,<%=bre%>,<%= startx%>,<%= starty%>,<%= length%>,<%= breadth%>)" width="500" height="500" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<p>
<button type="button" id = "variables" onclick="createshape('<%= shape %>',<%= startx%>,<%= starty%>,<%= length%>,<%= breadth%>)">CREATE</button>
<button type="button" id = "slices" onclick="slice('<%= shape %>',<%=len%>,<%=bre%>,<%= startx%>,<%= starty%>,<%= length%>,<%= breadth%>,original)">SLICE</button>
</p>

<table id=shapetable style="display:none">
	<% if shape=="circle"%>
    <% (360/len).times do |row| %>
      <tr>
        <td><%= hidden_field_tag("#{drawshape.name}_#{row}", '0')%></td>
      </tr>
    <%end %>
     <% elsif shape=="rectangle1" %>
     <% (150/len).times do |row| %>
      <tr>
        <td><%= hidden_field_tag("#{drawshape.name}_#{row}", '0')%></td>
      </tr>
    <%end %>
    <% elsif shape=="rectangle2" %>
     <% (150/len).times do |row| %>
      <tr>
        <td><%= hidden_field_tag("#{drawshape.name}_#{row}", '0')%></td>
      </tr>
    <%end %>
    <% elsif shape=="rectangle3" %>
     <% ((150/len)*(150/bre)).times do |row| %>
      <tr>
        <td><%= hidden_field_tag("#{drawshape.name}_#{row}", '0')%></td>
      </tr>
    <%end %>
     <% end %>
    
    
  </table>


  <br>
  <br>
<script type="text/javascript">
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
var coordinate = new Array();
var colored = new Array();
var original = new Array();
// original[0]=1;
// original[1]=3;
</script>
</div>
