<div class="multifield">
	<%shape = drawshape4.shape %>
	<%length1= drawshape4.length1.to_i %>
    <%length2= drawshape4.length2.to_i %>
    <%length3 = drawshape4.length3.to_i%>
    <%height =  drawshape4.height%>
    <%unit = drawshape4.unit%>
    <%canvaswidth = drawshape4.canvaswidth.to_i%>
    <%canvasheight= drawshape4.canvasheight.to_i%>
    <%numtimes = drawshape4.numtimes.to_i%>
    <%check = drawshape4.check.to_i%>
<%if check==0 %>
<%else%>	
<canvas id="myCanvas_<%=numtimes%>"  width=<%= canvaswidth%> height=<%= canvasheight%> style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
<%end%>

<p></p>
</canvas>
<p>
<!-- <button type="button" id = "variables" onclick="createshape1('<%=shape%>',<%= length1 %>,<%= length2%>,<%= length3%>,'<%= unit%>')">CREATE</button> -->
</p>
</body>

<script type="text/javascript">
var original2 = new Array();
var regularpoly_x = new Array();
var regularpoly_y = new Array();
var canvas = $("#myCanvas_<%=numtimes%>");
var ctx = canvas[0].getContext("2d");
createshape1('<%=shape%>',<%= length1 %>,<%= length2%>,<%= length3%>,'<%= height%>',<%= length3%>'<%= unit%>');
</script>
</div>