<div class="multifield">
  <div id=tally style="position:relative">
    <canvas id=<%='datacanvas_'+tallymarksfield.name%> height=400 width=400 style="border-style:solid; border-width:2px;">
    </canvas>
    <%= hidden_field_tag('type', "tally") %>
    <%= hidden_field_tag('edit', tallymarksfield.edit) %>
    <table id=<%='table_'+tallymarksfield.name%> style="display:none">
      <% tallymarksfield.obs.length.times do |row| %>
        <tr>
          <td><%= hidden_field_tag("#{tallymarksfield.name}_#{row}_name", tallymarksfield.obs[row]) %></td>
          <td><%= hidden_field_tag("#{tallymarksfield.name}_#{row}", tallymarksfield.init[row]) %></td>
        </tr>
      <% end %>
    </table>
    <script>
      setUpDataGr("datacanvas_<%=tallymarksfield.name%>", "table_<%=tallymarksfield.name%>");
    </script>
  </div>
</div>
