<!--<div class="progress_bar <%= @stat.color_status %>" >
  <div class="left"></div>
  <div class="middle">
    <div class="marker left">
      <div>0</div>
    </div>
    <div class="complete with_tooltip" 
      style="width:<%#= prog_bar_px @stat.done_p, 3 %>;"
      data-original-title="<%#= complete_tip %>"
      data-trigger="hover"
      data-placement="bottom"
      ></div>

    <div class="marker <%#= @stat.done_p < 50.0 ? "left" : "right" %>">
      <div><%#= 500 - @stat.points_till_green %> points earned</div>
    </div>

    <div class="wrong_points with_tooltip" 
      style="width:<%#= prog_bar_px @stat.wrong_p_remaining, 3 %>;"
      data-original-title="<%#= wrong_tip %>"
      data-trigger="hover"
      data-placement="bottom"
      ></div>

    <div class="right_points with_tooltip" 
      style="width:<%#= prog_bar_px @stat.right_p_remaining, 3 %>;"
      data-original-title="<%#= right_tip %>"
      data-trigger="hover"
      data-placement="bottom"
      ></div>

    <div class="remaining with_tooltip" 
      style="width:<%#= prog_bar_px @stat.remaining_p, 3 %>;" 
      data-original-title="<%#= remaining_tip %>"
      data-trigger="hover"
      data-placement="bottom"
      ></div>

    <div class="marker right">
      <div style="width:40px">500</div>
    </div>
  </div>
	<div class="right"></div>
</div>-->
<!-- file name should be "_green.html.erb" -->

<script>
	$('.progress_bar').css("width","100%");
  var wrong_points = "<%= @stat.wrong_p_remaining %>";
  var wpnum=parseFloat(wrong_points);
  var right_points="<%= @stat.right_p_remaining %>";

  var rpnum=parseFloat(right_points);
  var complete="<%= @stat.done_p %>";
  var compnum=parseFloat(complete);
  var wid=parseFloat("<%= @stat.problem_stat.points_required %>");
  
  var per_complete=(compnum/wid)*100.0;
  //var totalrw=wid- remnum - compnum;
  //var fracwrong=wpnum/totalrw;
  //var fracright=rpnum/totalrw;
  wrongper=per_complete+(wpnum/wid)*100
  rightper=per_complete+((wpnum+rpnum)/wid)*100
  //$('#try').css('background','-webkit-gradient(linear, 21% 0%, 81% 0%, from(#60B349), to(#60B349), color-stop(.5,#60B349),color-stop(.5,#C40233),color-stop(.6,#C40233),color-stop(.6,#0087BD),color-stop(.8,#0087BD),color-stop(.8,#60B349))');
  //alert(wid);
  if(per_complete>=100)
  {
    $('#try').css('background-color',"#0087BD")
  }
  else
  {
    //if(wpnum > 0 || compnum == 0){
  //$('#try').css('background',"-webkit-gradient(linear,"+per_complete+"% 0%,"+final_remaining+"% 0%, from(#0087BD), to(grey), color-stop(.005,#60B349),color-stop(.005,#C40233),color-stop("+fracwrong+",#C40233),color-stop("+fracwrong+",#60B349),color-stop(.995,#60B349),color-stop(.995,grey))");


  $("#try").css("background", "gray"); /* Old browsers */
  $("#try").css("background", "-moz-linear-gradient(left, #0087bd "+per_complete+"%, #c40233 "+per_complete+"%, #c40233 "+wrongper+"%, #60b349 "+wrongper+"%, #60b349 "+rightper+"%, #808080 "+rightper+"%, #808080 100%)"); /* Old browsers */
  $("#try").css("background", "-webkit-gradient(linear, left top, right top, color-stop("+per_complete+"%,#0087bd), color-stop("+per_complete+"%,#c40233), color-stop("+wrongper+"%,#c40233), color-stop("+wrongper+"%,#60b349), color-stop("+rightper+"%,#60b349), color-stop("+rightper+"%,#808080), color-stop(100%,#808080))"); /* Old browsers */
  $("#try").css("background", "-webkit-linear-gradient(left, #0087bd "+per_complete+"%,#c40233 "+per_complete+"%,#c40233 "+wrongper+"%,#60b349 "+wrongper+"%,#60b349 "+rightper+"%,#808080 "+rightper+"%,#808080 100%)"); /* Old browsers */

//background: -o-linear-gradient(left, #0087bd 25%,#c40233 25%,#c40233 34%,#60b349 34%,#60b349 62%,#808080 62%,#808080 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(left, #0087bd 25%,#c40233 25%,#c40233 34%,#60b349 34%,#60b349 62%,#808080 62%,#808080 100%); /* IE10+ */
//background: linear-gradient(to right, #0087bd 25%,#c40233 25%,#c40233 34%,#60b349 34%,#60b349 62%,#808080 62%,#808080 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087bd', endColorstr='#808080',GradientType=1 ); /* IE6-9 */
}
/*else{
  $("#try").css("background", "#0087bd"); /* Old browsers */
 // $("#try").css("background", "-moz-linear-gradient(left, #0087bd 0%, #2989d8 "+per_complete+"%, #a8a8a8 "+per_complete+"%);"); /* Old browsers */
  //$("#try").css("background", "-webkit-gradient(linear, left top, right top, color-stop(0%,#0087bd), color-stop("+per_complete+"%,#2989d8), color-stop("+per_complete+"%,#a8a8a8))"); /* Old browsers */
  //$("#try").css("background", "-webkit-linear-gradient(left, #0087bd 0%,#2989d8 "+per_complete+"%,#a8a8a8 "+per_complete+"%)"); /* Old browsers */
  //$("#try").css("background", "-o-linear-gradient(left, #0087bd 0%,#2989d8 "+per_complete+"%,#a8a8a8 "+per_complete+"%)"); /* Old browsers */
  //$("#try").css("background", "-ms-linear-gradient(left, #0087bd 0%,#2989d8 "+per_complete+"%,#a8a8a8 "+per_complete+"%)"); /* Old browsers */
  //$("#try").css("background", "linear-gradient(to right, #0087bd 0%,#2989d8 "+per_complete+"%,#a8a8a8 "+per_complete+"%)"); /* Old browsers */
  //$("#try").css("filter", "progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087bd', endColorstr='#a8a8a8',GradientType=1 )"); /* Old browsers */

//}
//}
 </script>

 <div id="try" class="progress_bar yellow">


  </div>