<%= form_for(@custom_problem) do |f| %>
<div class=row-fluid>
  <div class=span3>
    <div class=well>
      <% all_chapters.each do |chapter| %>
        <%= radio_button_tag 'chapter', chapter.to_s %>
        <%= label_tag "chapter_#{chapter.to_s}", chapter.to_s, :style => 'display:inline' %>
        <br />
      <% end %>
    </div>
  </div>
  <div class=span9>
    <% if @custom_problem.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@custom_problem.errors.count, "error") %> prohibited this custom_problem from being saved:</h2>

        <ul>
        <% @custom_problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="section-header">
      <%= label_tag :name, "Problem Name:", :style => 'display:inline' %>
      <%= text_field_tag :name %>
    </div>
    <div class="field">
      <%= label_tag "Problem Text" %>
      <%= text_area_tag :problem_text %>
    </div>
    <div class="field">
      Response Type: <br />
      <%= radio_button_tag 'response', "number", :style=>'display:inline' %>
      <%= label_tag 'response_number', "Numeric Answer", :style=>'display:inline' %>

      <%= radio_button_tag 'response', "text", :style=>'display:inline' %>
      <%= label_tag 'response_text', "Text Answer", :style=>'display:inline' %>

      <%= radio_button_tag 'response', "multiplechoice", :style=>'display:inline' %>
      <%= label_tag 'response_multiplechoice', "Multiple Choice Answer", :style=>'display:inline' %>
    </div>
    <div>Answer: </div>
    <div id=answer_number_div style='display:none;'>
      <%= text_field_tag 'answer_number' %>
    </div>
    <div id=answer_text_div style='display:none;'>
      <%= text_field_tag 'answer_text' %>
    </div>
    <div id=answer_multiplechoice_div class=multifield style='display:none;'>
      <%= hidden_field_tag 'mcq_i', 4 %>
      <%= link_to raw("<i class='icon-plus'></i> Add another answer option"), '#', :class=>'btn' %>
      Put the correct answer at the top - the order will be randomized
      <div><input id='answer_mcq' name='answer_mcq' type=text style='border-color:green;'></div>
    </div>
    <br />
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>
<script>
  <% qtypes = ['number', 'text', 'multiplechoice'] %>
  <% qtypes.each do |qtype| %>
    $('#response_<%= qtype %>').click( function() {
      <% qtypes.each do |qt| %>
        $('#answer_<%= qt %>_div').hide();
      <% end %>
      $('#answer_<%= qtype %>_div').show();
    });
  <% end %>

  function bind_removes() {
    $('#answer_multiplechoice_div div a').unbind('click');
    $('#answer_multiplechoice_div div a').click( function() {
      $(this).parent().remove();
    });
  }

  function add_mcq_option() {
    var i = parseInt($('#mcq_i').attr('value'));
    $('#answer_multiplechoice_div').append("<div><input id='answer_choice_"+i+"' name='answer_choice_"+i+"' type=text><a href='#'> <i class='icon-remove-sign'></i></a></div>");
    $('#mcq_i').attr('value', i+1);
    bind_removes();
  }
  $('#answer_multiplechoice_div').children('a').click( function() {
    add_mcq_option();
  });
  bind_removes();
  for(var i = 0; i < 3; i++) { add_mcq_option(); }
  $('#response_number').click();
</script>
<% end %>
