<div class="row">
    <h2>Add a Problem to the Database</h2>
</div>

<%= hidden_field_tag :problem_type_id %>

<div class="field">
    Problem Text:
    <%= text_area_tag :problem_text, nil, {:rows => 5, :style => "width:80%;display:block;"} %>
</div>

<div class="field">
    Response Type: 
    <br/>
    <%= radio_button_tag 'response', "text", true, :style=>'display:inline' %>
    <%= label_tag 'response_text', "Text Answer", :style=>'display:inline' %>

    <br/>
    <%= radio_button_tag 'response', "multiplechoice", false, :style=>'display:inline' %>
    <%= label_tag 'response_multiplechoice', "Multiple Choice Answer", :style=>'display:inline' %>
</div>

<div id="answer_text_div" class="answer">
    Answer: note that upper/lower case and extra spaces are ignored.
    <div class="correct">
        <%# render_tohtml({}, ToHTML::TextField.new("text_correct")) %>
        <%= text_field_tag "text_correct", nil, :class => "input-field" %>
    </div>
</div>

<div id="answer_multiplechoice_div" class="answer" style='display:none;'>
    Answer: Put the correct answer at the top - the order will be randomized.
    <div class="correct">
        <%= text_field_tag "mcq_correct", nil, :class => "input-field" %>
    </div>
    <div class="incorrect">
        <% 6.times do |i| %>
            <%= text_field_tag "mcq_#{i}", nil, :class => "input-field", :style => 'display:inline-block;' %>
        <% end %>
    </div>
</div>
<br />
<div class="actions">
    <%= submit_tag %>
</div>
<script>
    <% qtypes = ['text', 'multiplechoice'] %>
    <% qtypes.each do |qtype| %>
        $('#response_<%= qtype %>').click( function() {
        <% qtypes.each do |qt| %>
            $('#answer_<%= qt %>_div').hide();
        <% end %>
        $('#answer_<%= qtype %>_div').show();
        });
    <% end %>
</script>
