<div style='background-color:white; padding:20px;'>
<h2>Create New Problem: <%=@problem_type.name%></h2>

<%= form_tag teacher_custom_problems_path(@teacher), method: :post, remote: :true do %>

	<%= hidden_field_tag :problem_type_id, @problem_type.id %>

	<div class="field">
    	Problem Text:
    	<%= text_area_tag :problem_text, nil, {:rows => 5, :style => "display:block;", :class => 'form-control'} %>
	</div>

	<div class="field">
    	Response Type: 
        <div class='radio'>
    	   <%= radio_button_tag 'response', "text", true, :style=>'display:inline' %>
    	   One Number/Word Answer
        </div>
        <div class='radio'>
	       <%= radio_button_tag 'response', "multiplechoice", false, :style=>'display:inline' %>
	       Multiple Choice Answer
       </div>
	</div>

	<div id="answer_text_div" class="answer">
    	Answer: note that upper/lower case and extra spaces are ignored.
    	<div class="correct">
        	<%# render_tohtml({}, ToHTML::TextField.new("text_correct")) %>
        	<%= text_field_tag "text_correct", nil, :class => "input-field form-control" %>
    	</div>
	</div>

	<div id="answer_multiplechoice_div" class="answer" style='display:none;'>
    	<div class="correct">
            <label for='#mcq_correct'>Correct Answer</label>
        	<%= text_field_tag "mcq_correct", nil, :class => "input-field" %>
    	</div>
    	<div class="incorrect">
            <p>Other options apart from the correct answer. Put any number of options:</p>
        	<% 6.times do |i| %>
            	<%= text_field_tag "mcq_#{i}", nil, :class => "input-field", :style => 'display:inline-block; margin:4px;' %>
        	<% end %>
    	</div>
	</div>
	<br />

	<div class="field">
    	Explanation:
    	<%= text_area_tag :problem_explanation, nil, {:rows => 2, :style => "display:block;", :class => 'form-control' } %>
	</div>

	<div class="field">
    	Attachment (link to a video or image):
    	<%=	text_field_tag :problem_body, nil, {:rows => 2, :style => "display:block;", :class => 'form-control'} %>
	</div>

	<div class="actions">
    	<%= submit_tag %>
	</div>
<% end %>
</div>

<script>
    <% qtypes = ['text', 'multiplechoice'] %>
    <% qtypes.each do |qtype| %>
        $('#response_<%= qtype %>').click( function() {
        <% qtypes.each do |qt| %>
            $('#answer_<%= qt %>_div').hide();
        <% end %>
        $('#answer_<%= qtype %>_div').show();
        });
    <% end %>
</script>