\[\int_a^b f(x) dx=F(b)-F(a)\]
\[1\frac{1}{c^2}\]
<div class="row">
	<div class="pull-right" id="import_problems">
		<%= link_to "Import Custom Problems", "javascript: show_import_form()", :class => "btn", id: "show_import_form_button" %>
		<%= link_to "Cancel Import", "javascript: cancel_import_form()", :class => "btn", id: "cancel_import_button" %>
	</div>
</div>
<div id="custom_problems_message" class="teacher-details-header" style="margin-bottom:5px;"></div>
<div class="row">
	<div class="span4">
		<div class="dotted-border-header">
			Chapters
		</div>
		<div class='dotted-border teacher-details-column'>
			<ul class='column-list' id="chapter_tabs">
				<% @chapters.each do |chapter| %>
					<li><%= link_to chapter.name, "#chap_#{chapter.id}", "data-toggle" => "tab" %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="tab-content">
			<% @chapters.each do |chapter| %>
				<div class="tab-pane" id="chap_<%= chapter.id %>">
					<div class="dotted-border-header">
						Problem Types
					</div>
					<div class='dotted-border teacher-details-column'>
						<ul class='column-list' id="column_list">
							<%- chapter.problem_types.each do |ptype| -%>
								<li>
									<%= link_to ptype.to_s, do_sample_problem_path(ptype.id), remote: :true %>
									<%= link_to "Create", new_teacher_custom_problem_path(@teacher, problem_type_id: ptype.id), remote: :true, :class => "pull-right" %>
								</li>
							<%- end -%>
						</ul>
					</div>       
				</div>
			<% end %>
		</div>
	</div>
	 <div class="span4">
		<div class="dotted-border-header">
			Created Problems
		</div>
		<div class='dotted-border teacher-details-column'>
			<ul class='column-list' id="custom_problems">
				<% if !@custom_problems.blank? %>
					<% @custom_problems.each do |problem| %>
						<%= render "custom_problems", :problem => problem %>
					<% end %>
				<% else %>
					<p id="no_cprob_msg"><%= "You haven't created any problem!" %></p>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<script>
	$(function() { 
		$("#cancel_import_button").hide();
		$('#chapter_tabs a:first').tab('show');
	}); 
	function show_import_form() {
		$("#show_import_form_button").hide();
		$("#import_problems").prepend("<%= j(render "custom_problems/import_problems_form") %>");
		$("#cancel_import_button").show();
	}
	function cancel_import_form() {
		$("#show_import_form_button").show();
		$("#import_problems_form").remove();
		$("#cancel_import_button").hide();
	}
</script>
<script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  };
</script>
