<% content_for :outside do %> 
  <div id="custom_problem_form" class="problem_overlay">
    <%= form_tag teacher_custom_problems_path(@teacher), method: :post, remote: true do %>
      <%= render 'custom_problems/form' %>
    <% end %>
  </div>
<% end %>

<div id="custom_problems_message" class="teacher-details-header" style="margin-bottom:5px;"></div>
<div class="row">
  <div class="span4">
    <div class="dotted-border-header">
      Chapters
    </div>
    <div class='dotted-border teacher-details-column'>
      <ul class='column-list' id="chapter_tabs">
        <% @chapters.each do |chapter| %>
          <li><%= link_to chapter.name, "#chap_#{chapter.id}", :"data-toggle" => "tab" %></li>
        <% end %>
      </ul>
    </div>
  </div>
 
  <div class="span4">
    <div class="tab-content">
      <% @chapters.each do |chapter| %>
        <div class="tab-pane" id="chap_<%= chapter.id %>">
          <div class="dotted-border-header">
            Problem Types
          </div>
          <div class='dotted-border teacher-details-column'>
            <ul class='column-list' id="column_list">
              <%= render :partial => 'shared/column_list', 
              :locals  => { items: chapter.problem_types, partial: 'custom_problems/list_box/ptype_select' } %>
            </ul>
          </div>       
        </div>
      <% end %>
    </div>
  </div>
   <div class="span4">
    <div class="dotted-border-header">
      Created Problems
    </div>
    <div class='dotted-border teacher-details-column'>
      <ul class='column-list' id="custom_problems">
        <% if !@custom_problems.blank? %>
          <% @custom_problems.each do |problem| %>
          
          <%= render "custom_problems", :problem => problem %>
        <% end %>
        <% else %>
        <p id="no_cprob_msg"><%= "You haven't created any problem!" %></p>
        
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
  $(function() { 
    $('#chapter_tabs a:first').tab('show');
  }); 
</script>
