<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @custom_problem.problem %>
</p>

<p>
  <b>Owner:</b>
  <%= @custom_problem.owner_id %>
</p>

<p>
  <b>Chapter:</b>
  <%= @custom_problem.chapter %>
</p>


<%= link_to 'Edit', edit_custom_problem_path(@custom_problem) %> |
<%= link_to 'Back', custom_problems_path %>
