<div>
  <canvas id="geocanvas" height="<%= geometryfield.class.height %>" width="<%= geometryfield.class.width %>"> 
    Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
    </canvas>   
  <div id="shapes" style="display:none"></div>
  <br style="clear:both">
</div>
<% shapes = geometryfield.encodedStartShapes %>
<% shapes += "," unless shapes.empty? %>
<%= hidden_field_tag('startshapes', "#{shapes}#{InputField.fromhash("geometry", @response)}") %>
<%= hidden_field_tag('qbans_selected', InputField.fromhash("qbans_selected", @response)) %>
<%= hidden_field_tag('starttool', "notool") %>
<% if geometryfield.is_a?(GeometryField) %>
  <%= hidden_field_tag geometryfield.name, "" %>
<% end %>

<script>
  setUpGeo();
</script>
