<%- unless @lessons.blank? -%>
	<h2>Listing <%= @classroom.name %> sessions</h2>
	<table class="table table-condensed table-hover">
  		<thead>
  			<tr>
  				<td>Name</td>
  				<td>Session By</td>
  				<td>Start Date-Time</td>
  				<td>End Date-Time</td>
  			</tr>
  		</thead>
  		<tbody>
  			<%- @lessons.each_with_index do |lesson, i| -%>
  				<%- i += 1 -%>
  				<tr>
  					<td><%= link_to "Session #{i}", classroom_lesson_path(@classroom, lesson, :type => "definite") %></td>
  					<td><%= lesson.teacher.name %></td>
  					<td><%= lesson.start_time %></td>
  					<td><%= lesson.end_time %></td>
  				</tr> 
  			<%- end -%>
  		</tbody>
	</table>
<%- else -%>
	<h4>No Sessions made for <%= @classroom.name %> !!</h4>
<%- end -%>