<div class="modal fade" id="edit_teacher_profile" tabindex="-1" role="dialog" aria-labelledby="edit_teacher_profileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="edit_teacher_profileLabel">Edit Your Profile</h4>
            </div>
            <%= form_for @teacher, :url => update_teacher_path(@teacher), :html => { :multipart => true } do |f| %>
                <div class='modal-body'>
                    <% if @teacher.errors.any? %>
                        <div class="alert alert-error">
                            <div id="error_explanation">
                                <h5><%= pluralize(@teacher.errors.count, "error") %> prohibited this comment from being saved:</h5>
                                <ul>
                                    <% @teacher.errors.full_messages.each do |msg| %>
                                        <li><%= msg %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>
                    <div class="control-group">
                        <%= f.label :name, :class => 'control-label' %>
                        <div class="controls">
                            <%= f.text_field :name, :class => 'text_field form-control' %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :old_password, :class => 'control-label' %>
                        <div class="controls">
                            <%= f.password_field :old_password, :class => 'text_field form-control' %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :new_password, :class => 'control-label' %>
                        <div class="controls">
                            <%= f.password_field :new_password, :class => 'text_field form-control' %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :confirm_password, :class => 'control-label' %>
                        <div class="controls">
                            <%= f.password_field :confirm_password, :class => 'text_field form-control' %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <%= f.submit "Update", :class => 'btn btn-danger' %>
                        <%= link_to "Cancel", teacherhome_path, :class => "btn btn-default" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>