<ul>
  	<% if current_user.is_a? Teacher %>
      <li><%= link_to "Overview", teacherhome_path %></li>
      <li><%= link_to "Join Classroom", join_classroom_path(current_user), id: "join_class_btn", remote: :true %></li>
      <li><%= link_to "Create Classroom", new_classroom_path(current_user), remote: :true %></li>
      <li><%= link_to "My Problem Sets", problem_sets_path(current_user) %></li>
    <% end %>
  <%= yield :nav_elts if content_for?(:nav_elts) %>
</ul>

<% if @teacher_nav_elts == 'details' && false %>
  <%= render :partial => 'teachers/forms/details_classroom_form' %>
  <%= render :partial => 'teachers/forms/details_problem_set_form' %>
<% end %>

<ul class=pull-right>
  <li class=switch-to>
    <%= link_to "Log Out", signout_path, :method => :delete %>
  </li>
</ul>
