
<%@quiz_history = @problem_set.nil? ? []:@classroom.quizzes.where(problem_set_id: @problem_set.id)%>
<ul class='column-list details_quiz_hist'>
	<li><%= link_to "Create Quiz", new_quiz_path(classroom: @classroom.id, pset: @problem_set.id, type: "single_class") %>
		for <%= print_ps @problem_set %> 
	</li>
	<li><%= link_to "Create Quiz for #{@classroom.name} with specific students", validate_students_for_classroom_quiz_path(classroom: @classroom.id, pset: @problem_set.id, type: "single_class_specific_students") %>
		for <%= print_ps @problem_set %> 
	</li>
	<% if @quiz_history.empty? %>
	<li>You haven't assigned any quizzes on this problem set yet</li>
    <% else %>
	  	<% @quiz_history.each do |quiz| %>
	<li class="assign_quiz_form">
		<div>
			Quiz from <%= putd quiz.created_at %>
		</div>
		<div>
			<% if !quiz.for_class(@classroom).assigned? %>
				<%= link_to quiz.for_class(@classroom).assigned_status, 
							assign_quiz_path(id: @classroom.id, quiz_id: quiz.id), 
							remote:true %>
			<% else %>
			<%= quiz.for_class(@classroom).assigned_status %>
			<% end %>
		</div>
	</li>
	  	<% end %>
	<% end %>
</ul>

<script>
  /*$(function () {
    $('.details_quiz_hist').jScrollPane({ contentWidth: '0px' });
  })*/
</script>