<%= form_for Teacher.new, :remote => true do |f| %>
  <h2>Sign Up as as Teacher</h2>
  <div class = "error_block" id = "new_teacher_err"></div>
  <div class="row-fluid">
    <div class=span6>
      <div class = "field_block">
        <%= f.label :name %> 
        <div class= "error_block" id="teacher_name_err"></div>
        <%= f.text_field "name", :placeholder=>"Akshat Aggarwal" %>
      </div>
      <div class = "field_block">
        <%= f.label :email %> 
        <div class = "error_block" id = "teacher_email_err"></div>
        <%= f.text_field "email", :placeholder=>"akshat777@gmail.com" %>
      </div>
      <div class = "field_block">
        <%= f.label :password %> 
        <div class="error_block" id="teacher_password_err"></div>
        <%= f.password_field "password", :placeholder => "*******" %>
      </div>
      <div class = "field_block">
        <%= f.label :password_confirmation %> 
        <div class="error_block" id="teacher_password_confirmation_err"></div>
        <%= f.password_field "password_confirmation", :placeholder => "*******" %>
      </div>
    </div>
    <div class="field_block">
      <%= fields_for :classroom do |f_c| %>
        <%= f_c.label :name, "Your First Classroom" %> 
        <div class="error_block" id="classroom_name_err"></div>
        <%= f_c.text_field :name, :placeholder => '6a' %>
      <% end %>
    </div>
  </div>
  
  <div class = "actions">
    <%= f.submit "Sign Up!", :class=>"button-blue" %>
  </div>
<% end %>
