<div class=row-fluid>
  <div class=logo>
    Class <%= @classroom.name %>
  </div>
</div>
<div class=row-fluid>
  <div class=span3>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
      <% @homeworks.each do |hw| %>
        <li><%= link_to hw.name, "##{hw.idname}", 'data-toggle' => 'tab', :style => 'display:block;' %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class=span6>
    <div class="tab-content">
      <% @homeworks.each do |hw| %>
      <div class=tab-pane id=<%= hw.idname %>>
        <ul>
        <% @students.each do |student| %>
          <li>
            <% score = @homework_assignments[student.id][hw.id].score %>
            <%= link_to student.name, user_path(student), :style => 'float:left;width:400px;display:block' %>
            <div style="float:left; display:inline-block;"><%= score[:count] %> / <%= score[:total] %></div>
            <div class="<%= smartscore_class(score[:percent]) %>" style="width:<%= score[:percent]%>%; height:4px; clear:both; margin-bottom:5px"></div>
          </li>
        <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function () {
  $('a[href="#<%= @shownquiz.idname %>"]').tab('show');
  })
</script>
