<div style="width:145px; margin-right:5px; float:left;">
  <div class=btn-group>
    <button class="btn btn-large btn-success dropdown-toggle" data-toggle="dropdown" style="margin-bottom:5px;">
      Class <%= @classroom.name %>
    </button>
    <ul class="dropdown-menu">
      <% @classrooms.each do |classroom| %>
        <% next if classroom.name == select_class_text %>
        <li><%= link_to classroom.name, stats_path(:classroom_id => classroom.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><h4>Homeworks</h4></li>
      <% @homeworks.each do |hw| %>
        <li><%= link_to hw.name, "##{hw.idname}", 'data-toggle' => 'tab', :style => 'display:block;' %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="tab-content" style='float:left; width:790px;'>
  <% @homeworks.each do |hw| %>
    <div class=tab-pane id=<%= hw.idname %>>
      <%= render :partial => 'teachers/heatmap', :locals => { :homework => hw } %>
    </div>
  <% end %>
</div>

<script>
  $(function () {
  $('a[href="#<%= @shownquiz && @shownquiz.idname %>"]').tab('show');
  })
</script>
