<h2>Quiz</h2>
<%= link_to_function "Back", 'hideProblem()', :class => 'pull-right button-blue', :style=>'z-index:10;' %>
<br /><br />
<div class='row-fluid problem_body'>
  <%= form_tag quiz_finish_problem_path, method: :post, autocomplete: :off, remote: true do %>
    <%#= hidden_field_tag 'stat_id', @stat.id.to_s %>
    <%= submit_tag "Next Problem", :class => 'pull-right button-blue' %>
    <%= @problem_set.name %>
    <%= render 'problems/nameless_form', :@problem => @problem %>
  <% end %>
</div>
<%#= render "problems/nameless_form", :@problem => @problem %>


<div class='row-fluid calculations'>
  <%= render 'problems/side_notepad' %>
</div>