<div class="row-fluid">
	<div class="span3">
		<div id="timer" class="span4" style="border: 1px solid">
			<span id="highlightCountdown"></span>
		</div>
	</div>

	<div class="span7" id="problem_overlay"><%= render 'do_problem_quiz_type_2' %></div>
	
	<div class="span2">
		<%= link_to 'Submit Quiz', finish_quiz_type_2_path(@quiz, @quiz_instance), :id => 'finish_quiz', :class => 'button-blue', :confirm => "Your Quiz isn't completed yet. Do you still want to submit?" unless @remaining == 1 %>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		var _remaining_time = <%= @quiz_instance.remaining_time %>
  		$('#highlightCountdown').countdown({
				until: 1, 
				onTick: highlightLast10, 
				format: 'HMS', 
				compact: true, 
				layout: '<b>{hnn}{sep}{mnn}{sep}{snn}</b> {desc}', 
				description: 'to over'});
		$('#highlightCountdown').countdown('option', {until: _remaining_time});
     
		function highlightLast10(periods) { 
    		if ($.countdown.periodsToSeconds(periods) == 10) { 
        		$(this).addClass('highlight');
    		}
    		if ($.countdown.periodsToSeconds(periods) == 0) {
    			alert("Time Over !!");
    			$.ajax({
            		type: "GET",
            		url: "/quiz/" + <%= @quiz.id %> + "/quiz_instances/" + <%= @quiz_instance.id %> + "/quiz_result",
            		dataType: "script",
            		contentType: "application/text; charset=utf-8",
        		});
    		} 
		} 
	});
</script>