<div class=row-fluid>
    <%= render 'shared/shelf', :@student => current_user %>
</div>
<ul class=column-list>
  	<h2>Your Quiz Stats</h2>
  	<% @quiz_stats.each_with_index do |stat, i| %>
		<% i +=1 %>
		<li>
			<%= "Problem " + i.to_s %>
			<%# if stat.remaining > 0 %>
				<%#= link_to "#{stat.remaining} Problem left", "#", :class => "pull-right" %>
			<%# else %>
				<%#= link_to "0 Problem left", "#", :class => "pull-right" %>
			<%# end %>
		</li>
	<% end %>
</ul>
<%= link_to 'Start', '#', :id => 'start_quiz', :class => 'button-blue' %>
<%= link_to 'Submit', finish_quiz_path(@instance.id), :id => 'finish_quiz', :class => 'button-blue' %>
<script>
	$q=initProblemOverlay();
	$q.html('<%= j(render 'do_quiz') %>');
	initProblem();
	hideProblem();
	$('#start_quiz').click(function(){
		$('#pr_dim').show();
	});
</script>
