<div class=row-fluid>
    <%= render 'shared/shelf', :@student => current_user %>
</div>
<ul class=column-list>
  	<h2>Your Quiz Stats</h2>
  	<% @quiz_stats.each_with_index do |stat, i| %>
		<% i +=1 %>
		<li>
			<%= link_to "Problem #{i.to_s}" , do_quiz_problem_path(@quiz, @quiz_instance, :problem_id => stat.problem_id), remote: :true  %>
		</li>
	<% end %>
</ul>
<% unless @quiz_instance.started? %>
	<%= link_to "Resume", start_quiz_path(@quiz, @quiz_instance), :class => 'button-blue' %>
<% else %>
	<%= link_to "Start", do_quiz_problem_path(@quiz, @quiz_instance), :class => 'button-blue', remote: :true %>
	<%#= link_to "Start", start_new_quiz_path(@quiz, @quiz_instance), :class => 'button-blue' %>
<%end%>
<%= link_to 'Submit', finish_quiz_path(@quiz, @quiz_instance), :id => 'finish_quiz', :class => 'button-blue' %>