<div class=row-fluid>
    <%= render 'shared/shelf', :@student => current_user %>
</div>
<h2>Your Quiz Stats</h2>
<ul class="column-list">
  	<% @quiz_stats.each_with_index do |stat, i| %>
		<% i +=1 %>
		<% if @quiz.quiz_type == 2 %>
			<li>
				<%= "Problem #{i.to_s}" %>
			</li>
		<% else %>
			<li>
				<%= link_to "Problem #{i.to_s}" , do_quiz_problem_path(@quiz, @quiz_instance, :problem_id => stat.problem_id) %>
			</li>
		<% end %>
	<% end %>
</ul>
<% unless @quiz_instance.over? %>
	<% unless @quiz_instance.started? %>
		<%= link_to "Resume", start_quiz_path(@quiz, @quiz_instance), :class => 'button-blue' %>
	<% else %>
		<%- if @quiz.quiz_type == 2 -%>
			<%= link_to "Start", do_quiz_problem_type_2_path(@quiz, @quiz_instance), :class => 'button-blue' %>
		<%- else -%>
			<%= link_to "Start", do_quiz_problem_path(@quiz, @quiz_instance), :class => 'button-blue' %>
		<%- end -%>
		<%#= link_to "Start", start_new_quiz_path(@quiz, @quiz_instance), :class => 'button-blue' %>
	<% end %>
<% end %>

<% if @quiz.quiz_type == 2 %>	
	<%= link_to 'Submit', finish_quiz_type_2_path(@quiz, @quiz_instance), :id => 'finish_quiz', :class => 'button-blue', :confirm => (( @quiz_instance.over? ) ? ("Your Quiz isn't completed yet. Do you still want to submit?") : ("Are You Sure?")) %>
<% else %>
	<%= link_to 'Submit', finish_quiz_path(@quiz, @quiz_instance), :id => 'finish_quiz', :class => 'button-blue', :confirm => (( @quiz_instance.over? ) ? ("Your Quiz isn't completed yet. Do you still want to submit?") : ("Are You Sure?")) %>
<% end %>
