<ul class='class_stat_list'>
  <% @stat_calc.concept_progress.each do |stat| %>
    <% stat_id = "concept_stat_#{stat.type.id}" %>
  <li id="<%= stat_id %>" class="stat" data-ptype=<%= stat.type.id %> data-classrm=<%= @classroom.id %>>
    <header><%= stat.type %></header>
    <ul>
      <li>
        <div class="probs_done"
             data-total="<%= stat.attempted %>"
             data-percent="<%= stat.attempted_percent %>">
          <%= stat.attempted %>
        </div>
      </li>
      <li>
        <div class="percent"
             data-percent="<%= stat.percent %>">
          <%= stat.percent %>
        </div>
      </li>
      <li>
        <div class="stu_attempted"
             data-total="<%= stat.user_count %>"
             data-percent="<%= stat.user_count.to_f / @stat_calc.class_size %>"
             data-class-size="<%= @stat_calc.class_size %>">
          <%= stat.user_count %>
        </div>
      </li>
    </ul>
  </li>
  <% end %>
</ul>

<script>
  $(function () {
    initConceptProgress({class_size: <%= @classroom.students.length %>});
    $('.class_stat_list').jScrollPane({ contentWidth: '0px' });
  })
</script>
