<tr>
	<th>Students</th>
	<% @problem_types.each do |problem_type| %>
		<th><%= problem_type.name %></th>
	<%end%>
	<th>Total</th>
</tr>
<% @students.each do |student| %>
	<% total_correct_answers = 0 %>
	<% total_answers = 0 %>
	<tr>
		<td><%= student.name %></td>
		<% @problem_types.each do |problem_type| %>
			<td>
				<% problem_stats = problem_stats_correct_and_total(student, problem_type) %>
				<%= correct_answers = problem_stats.first %> / 	<%= answers_count = problem_stats.last %>
				<% total_correct_answers += correct_answers %>
				<% total_answers += answers_count %>
			</td>
		<%end%>
		<td>
			<%= total_correct_answers %> / <%= total_answers %>
		</td>
	</tr>
<%end%>
