<div class="row-fluid pull-right">
	<%= link_to "Start session", new_classroom_lesson_path(@classroom), id: "start_session_link", remote: :true %><%= " | " %>
	<%= link_to "Start indefinite session", "#", id: "indefinite_session_link" %> <%= " | " %>
	<%= link_to "Stop session", details_path(@classroom), id: "stop_session_link" %>
	<div id="session_form"></div>
</div>
<%= render "classrooms/overall_chart_and_top_weak_students", :@chart_data_1 => @chart_data_1, :@top_weak_students => @top_weak_students %>

<div id='check'>
</div>
<script>
	$( document ).ready(function() {
  		<% unless @lesson.blank? %>
  			validate_datetime();
  		<% end %>
	});
	function validate_datetime(){
		<% unless @lesson.blank? %>
			var timer = false;		
			time_now = new Date( <%= Time.now.utc.to_i %> * 1000 );
	    	lesson_start_time = new Date( <%= (@lesson.start_time - 5.hours - 30.minutes).to_i %> * 1000 );
	    	lesson_end_time = new Date( <%= (@lesson.end_time - 5.hours - 30.minutes).to_i %> * 1000 );
    		if (time_now >= lesson_start_time && time_now < lesson_end_time) 
			{
				send_request('definite');
				timer = setTimeout(validate_datetime, 10000);
			}
			else
			{
				clearTimeout(timer);
				timer = false;
			}
		<% end %>
		
	}
	function send_request(type){
		var session_type = type;
		$.ajax({
			type: "GET",
			url: "http://localhost:3000/classrooms/<%= @classroom.id %>/lessons/1?type=" + session_type,
			dataType: "script",
			contentType: "application/text; charset=utf-8",
		});
	}
	$(function() {
		$("#indefinite_session_link").click(function() {
			var func = send_request('indefinite');

			var timer = setInterval("send_request('indefinite')", 10000);
		});
		// $("#stop_session_link").click(function() {
		// 	clearInterval(timer);
		// 	timer = false;
		
		// });
	});
</script>