<div class="row-fluid">
    <div class='box-lid-menu'>
        <div class='box-lid-icon'></div>
        <sidenav>
            <div class="menu-links">
            <h4><%= link_to @classroom.name, details_path(@classroom.id) %></h4>
            <ul>
                <li>
                    <%= link_to "Students", details_path(@classroom.id, type: "students") %>
                </li>
                <li>
                    <%= link_to "Problem Sets", details_path(@classroom.id, type: "problem_sets") %>
                </li>
                <li>
                    <%= link_to "Quizzes", details_path(@classroom.id, type: "quizzes") %>
                </li>
                <li>
                    <%= link_to "Grades", details_path(@classroom.id, type: "grades") %>
                </li>
                </div>
            </ul>
            <%= yield :teacher_sidebar %>
        </sidenav>
    </div>
    <div class='box-lid'>
        <div class='box-lid-content'>
            <div class="row-fluid">
                <%= render 'teachers/teacher_info', :teacher => @teacher %>
            </div>
            <div class='row-fluid teacher-details-header'>
                    <%= render 'teachers/forms/details_classroom_form' %>
                    <%= link_to "Assign: Problem Set", show_psets_path(@classroom.id), :class => "button-blue pull-right" %>
            </div>
            <div id="details-content">
                <div class="tab-pane fade active in" id="overall">
                    <% if defined? params[:type] %>
                        <% case params[:type] %>
                            <% when 'students' %>
                                <%= render 'student_details', :@students => @students %>
                                
                            <% when 'problem_sets' %>
                                <%= render 'pset_details', :@problem_sets => @problem_sets, :@problem_set => @problem_set, :@stat_calc => @stat_calc %>
                        
                            <% when 'quizzes' %>
                                <%= render 'quiz_details', :@problem_sets => @problem_sets, :@classroom_quizzes => @classroom_quizzes, :@problem_set => @problem_set %>
     
                            <% when 'grades' %>
                                <%= render 'grades_tab', :@problem_set => @problem_set, :@problem_sets => @problem_sets, :@problem_types => @problem_types, :@start_date => @start_date, :@end_date => @end_date %>
                            
                            <% else %>
                                <%= render 'overall_details', :@chart_data_1 => @chart_data_1, :@top_weak_students => @top_weak_students %>
                                
                            <% end %>
                    <% else %>
                        <%= render 'classrooms/overall_classroom_chart', :@chart_data_1 => @chart_data_1 %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
    
<script>
box_lid();
$('.box-lid-menu').boxLid();
</script>











