<div class="row-fluid" style='margin-top:50px;'>
    <div>
            <div class="menu-links">
            <h4 class='left-link'><%= render :partial => 'teachers/forms/details_classroom_form' %></h4>
            <ul style='padding-left:0px'>
                <li class='left-link'>
                    <%= link_to "Manage Class Problem Sets", show_problem_sets_path(@teacher, @classroom.id), :class => "button_blue" %>
                </li>
                <li class='left-link' style='height:30px'>
                </li>
                <li class='left-link'>
                    <%= link_to "Students", details_path(@classroom.id, type: "students") %>

                </li>
                <li class='left-link' id='left-link-pr'>
                    <%= link_to "Problem Sets", details_path(@classroom.id, type: "problem_sets") %>
                </li>
                <li class='left-link'>
                    <%= link_to "Quizzes", details_path(@classroom.id, type: "quizzes") %>
                </li>
                <li class='left-link'>
                    <%= link_to "Grades", details_path(@classroom.id, type: "grades") %>
                </li>
                <li class='left-link'>
                    <%= link_to "Discussions", classroom_path(@classroom.id), :@teacher => @teacher %>
                </li>
                <li class='left-link'>
                <%= link_to "Sessions", classroom_lessons_path(@classroom.id) %>
            </li>
                </div>
            </ul>
            <%= yield :teacher_sidebar %>
        </div>
        <div style='margin-left:250px;'>
            <div class='teacher-details-header'>
                    <%#= link_to "Assign: Problem Set", show_psets_path(@classroom.id), :class => "button-blue pull-right" %>
		    </div>
            <div id="details-content">
                <div class="tab-pane fade active in" id="overall">
                    <% if defined? params[:type] %>
                        <% case params[:type] %>
                            <% when 'students' %>
                                <%= render 'student_details', :@students => @students %>
                                
                            <% when 'problem_sets' %>
                                <%= render 'pset_details', :@problem_sets => @problem_sets, :@problem_set => @problem_set, :@stat_calc => @stat_calc %>
                        
                            <% when 'quizzes' %>
                                <%= render 'quiz_details', :@problem_sets => @problem_sets, :@classroom_quizzes => @classroom_quizzes, :@problem_set => @problem_set %>
     
                            <% when 'grades' %>
                                <%= render 'grades_tab', :@problem_set => @problem_set, :@problem_sets => @problem_sets, :@problem_types => @problem_types, :@start_date => @start_date, :@end_date => @end_date %>
                            
                            <% else %>
                                <%= render 'overall_details', :@chart_data_1 => @chart_data_1, :@top_weak_students => @top_weak_students %>
                                
                            <% end %>
                    <% else %>
                        <%= render 'classrooms/overall_classroom_chart', :@chart_data_1 => @chart_data_1 %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
  

<script>
$('nav').addClass('navbar-fixed-top');
</script>
