<div class="row-fluid">
    <div class='box-lid-menu'>
        <div class='box-lid-icon'></div>
        <sidenav>
            <div class="menu-links">
            <h4><%= link_to @classroom.name, details_path(@classroom.id) %></h4>
            <ul>
                <li>
                    <%= link_to "Students", details_path(@classroom.id, type: "students"), remote: :true %>
                </li>
                <li>
                    <%= link_to "Problem Sets", details_path(@classroom.id, type: "problem_sets"), remote: :true %>
                </li>
                <li>
                    <%= link_to "Quizzes", details_path(@classroom.id, type: "quizzes"), remote: :true %>
                </li>
                <li>
                    <%= link_to "Grades", details_path(@classroom.id, type: "grades"), remote: :true %>
                </li>
                </div>
            </ul>
            <%= yield :teacher_sidebar %>
        </sidenav>
    </div>
    <div class='box-lid'>
        <div class='box-lid-content'>
            <div class="row-fluid">
                <%= render 'teachers/teacher_info', :teacher => @teacher %>
            </div>
            <div class='row-fluid teacher-details-header'>
                    <%= render 'teachers/forms/details_classroom_form' %>
            </div>
            <div id="details-content">
                <div class="tab-pane fade active in" id="overall">
                    <%= render "classrooms/overall_classroom_chart", :@students => @students %>
                </div>
            </div>
        </div>
    </div>
</div>
    
<script>
$('.box-lid-menu').boxLid();
</script>