<div class='row-fluid teacher-details-header'>
  <%= render :partial => 'teachers/forms/details_classroom_form' %>
  <%#= render :partial => 'teachers/forms/details_problem_set_form' %>
</div>
<div>
  <ul id="det_tab" class="nav nav-tabs" style="font-family:Courier">
    <li><a href="#overall" data-toggle="tab">Overall</a></li>
    <li><a href="#students" data-toggle="tab">Students</a></li>
    <li><a href="#psets" data-toggle="tab">Problem Sets</a></li>
    <li><a href="#quizzes" data-toggle="tab">Quizzes</a></li>
  </ul>
</div>
<div id="det_tab_content" class="tab-content" style="font-family:Courier">
  <div class="tab-pane fade active in" id="overall">
  </div>
  <div class="tab-pane fade" id="students">
    <div class=span4>
      <div class=dotted-border-header>
        Students
      </div>
      <div class=dotted-border>
        <ul class="column-list" style="border:none">
          <% @students.sort { |a,b| a.name <=> b.name }.each do |student| %>
          <li>
            <%= student.name %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="psets">
    <div class='teacher-details-body'>
      <div class="span4" style="width:200px">
        <div>
          <ul class="column-list" style="border:none">
            <% @problem_sets.order("id ASC").each do |pset| %>
            <li>
              <%=link_to pset.name, details_problem_set_path(@classroom.id, pset), :remote => true %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <span class=probs_done></span> problems | <span class=percent></span> percent | <span class=stu_attempted></span> students
        </div> 
        <div id='concept_progress' class='teacher-details-column'>
          <%= render :partial => 'concept_progress' , :@problem_set => @problem_set%>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="quizzes">
    <div class=row-fluid>
      <div>
        <div class=dotted-border>
          <ul class="column-list" style="border:none">
            <% @problem_sets.order("id ASC").each do |pset| %>
            <li>
              <%=link_to pset.name, details_problem_set_path(@classroom.id, pset), :remote => true %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class=span8>
      <div class=dotted-border-header>
        Quizzes
      </div>
      <div id='quiz_history' class='dotted-border teacher-details-column'>
        <%= render partial: 'teachers/quiz_history_assign_quiz', :@problem_set => @problem_set%>
      </div>
    </div>
    </div>
  </div>
</div>
<script>
$('#det_tab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>



