<div class='row-fluid teacher-details-header'>
  <%= render :partial => 'teachers/forms/details_classroom_form' %>
  <%#= render :partial => 'teachers/forms/details_problem_set_form' %>
</div>
<div>
  <ul id="det_tab" class="nav nav-tabs" style="font-family:Courier">
    <li class='active'><a href="#overall" data-toggle="tab">Overall</a></li>
    <li><a href="#students" data-toggle="tab">Students</a></li>
    <li><a href="#psets" data-toggle="tab">Problem Sets</a></li>
    <li><a href="#quizzes" data-toggle="tab">Quizzes</a></li>
    <li><a href="#grades" data-toggle="tab">Grades</a></li>
  </ul>
</div>
<div id="det_tab_content" class="tab-content" style="font-family:Courier">
  <div class="tab-pane fade active in" id="overall">
    <%= render "classrooms/overall_classroom_chart" %>
  </div>
  <div class="tab-pane fade" id="students">
    <%= render "student_details" %>
  </div>
  <div class="tab-pane fade" id="psets">
    <%= render "pset_details", :@start_date => @start_date, :@end_date => @end_date %>
  </div>
  <div class="tab-pane fade" id="quizzes">
    <%= render "quiz_details", :@start_date => @start_date, :@end_date => @end_date %>
  </div>
  <div class="tab-pane fade" id="grades">
    <%= render "grades_tab" %>
  </div>
</div>
<div class='box-lid-menu'>
      <div class='box-lid-icon'></div>
      <nav>
        <h4>Projects</h4>
        <ul>
          <li><a href='http://jimjh.com/box-lid' title='documentation'>Documentation</a></li>
          <li><a href='http://github.com/jimjh/box-lid' title='github'>GitHub</a></li>
          <li><a href='http://jimjh.com' title='Jim Lim' rel='author'>Jim Lim</a></li>
        </ul>
      </nav>
    </div>
    <div class='box-lid'>
      <div class='box-lid-content'>
        <p>This is meant to be a bare bones demonstration of the jQuery plugin.
        For more details, please refer to <a href="http://jimjh.com/box-lid">the documentation</a>.
        <img src='../images/audi.jpg'>
      </div>
    </div>
    <script>
      $('.box-lid-menu').boxLid();
    </script>
<script>
$('#det_tab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>



