<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=0"/>
        <%= csrf_meta_tags %>
        <%= yield :head %>
    </head>
    <body>
        <% if current_user.is_a? Teacher %>  
            <%= render 'shared/teacher_nav', :@teacher => current_user %>
        <% else %>
            <%= render 'shared/navbar' %>
        <%end%>
        <div class="container <%= 'not_log_in' if !signed_in? %>">
            <% unless notice.nil? %>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><%= notice %></p>
                </div>
            <% end %>
            <% unless alert.nil? %>
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><%= alert %></p>
                </div>
            <% end %>
            <%= render 'shared/errors' %>
            <%= yield %>
            <div id="outside"></div>
        </div>
        <% if content_for? :outside %>
            <%= yield :outside %>
        <% end %>
        <div class='the_footer'>
            <script> bclr_pset()</script>
        </div>
         <% if !@student.nil? && @teacher.nil? %>
            <script>
                $(function() {
                    $.ajax("/students/pending_notifications");
                });
                studentSubscribe();
            </script>
        <% elsif @student.nil? && !@teacher.nil? %>
            <script>
                $(function() {
                    $.ajax("/teachers/pending_notifications");
                });

                teacherSubscribe();
            </script>
        <% end %>
    </body>
</html>
<script type="text/javascript">
    // $(function () {
    //     var script = document.createElement("script");
    //     script.type = "text/javascript";
    //     script.src  = "http://cdn.mathjax.org/mathjax/latest/MathJax.js";

    //     var config = 'MathJax.Hub.Config({' + 'extensions: ["tex2jax.js"],' + 'jax: ["input/TeX","output/HTML-CSS"]' + '});' + 'MathJax.Hub.Startup.onload();';

    //     if (window.opera) {script.innerHTML = config}
    //     else {script.text = config}

    //     document.getElementsByTagName("head")[0].appendChild(script);
    // });
</script>